{#
/**
 * @file
 * Default theme implementation for a App gallery block.
 *
 * This block is placed in the Content region of homepage.
 *
 * @ingroup templates
 */
#}
<section id="block-fhir-blocks-fhir-app-gallery" class="block block-fhir-blocks clearfix">
  <div class="fhir-shortcodes-box box-circle box-center">
    <a href="app-gallery">
      <div class="box-icon"><i class="fa fa-th"></i></div>
      <h3 class="box-title">APP GALLERY</h3>
      <div class="box-content">Browse the gallery for the possibilities</div>
    </a>
  </div>
</section>
