{#
/**
 * @file
 * Default theme implementation for a social bottom icon block.
 *
 * This block is placed in the Footer region.
 *
 * @ingroup templates
 */
#}
<section id="block-fhir-blocks-fhir-social-bottom" class="block block-fhir-blocks clearfix">
  <div class="pull-right ">
    <ul>
      <li><a class="facebook" href="https://www.facebook.com/apigee" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="https://twitter.com/apigee" target="_blank"><i class="fa fa-twitter"></i></a></li>
{#      <li><a class="linkedin" href="https://www.linkedin.com/company/apigee" target="_blank"><i class="fa fa-linkedin">&nbsp;</i></a>#}
{#      </li>#}
{#      <li><a class="gplus" href="https://plus.google.com/+ApigeeCorp/posts" target="_blank"><i#}
{#            class="fa fa-google-plus">&nbsp;</i></a></li>#}
      <li><a class="youtube" href="https://www.youtube.com/playlist?list=PLIXjuPlujxxymHJ60qI6K-is10NZshQFV" target="_blank"><i
            class="fa fa-youtube">&nbsp;</i></a></li>
    </ul>
  </div>
</section>
