{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * This block is placed in the Logo Right region.
 *
 * @ingroup templates
 */
#}
<div>
  <span class = "site-logo-span">
    <span class = "site-logo-health">Health</span>
    <span class = "site-logo-api">APIx</span>
  </span>
</div>
