{#
/**
 * @file
 * Default theme implementation for a Copyright block in the footer region.
 *
 * This block is placed in the Footer region.
 *
 * @ingroup templates
 */
#}
<section id="block-fhir-blocks-fhir-copyright" class="block block-fhir-blocks clearfix">
  <div class="row">
    <div class="col-sm-6">
      <div class="powered-by">
        <div class="footer-left">Powered by</div>
        <div class="apigee-footer-logo">&nbsp;</div>
      </div>
      <div class="powered-by">
        <div class="footer-left">In Partnership with</div>
        <div class="persistent-footer-logo">digitalAPICraft</div>
      </div>
    </div>
    <div class="col-sm-6 copyrights-text">© 2019 Apigee Corp. All Rights Reserved.</div>
  </div>
</section>
