# DB Settings
#DB_NAME=ghc
DB_USER_NAME=drupaladmin
DB_PASSWORD=$(</var/tmp/.mysql_password)
DB_PORT=3306
DB_HOST=127.0.0.1
TMP_DATE_TMIESTAMP=$(date '+%d_%m_%Y__%H_%M_%S');
# Modify following variable if you want to customize the db name.
DB_NAME_AUTO="ghc_${TMP_DATE_TMIESTAMP}"

# Site Settings; No spaces between words OR only Single word.
# To update this values in the site, please go to configuration page - admin/config/system/site-information
SITE_NAME=GHCPortal
SITE_EMAIL=no-reply@digitalapicraft.com

# Admin Settings
# To update this values in the site, please go to admin user edit page at - user/1/edit
ADMIN_PASSWORD=gHC321#@!
ADMIN_EMAIL_ADDRESS=no-reply@digitalapicraft.com

# SMTP Settings
# If UPDATE_SMTP_SETTINGS is true then only following configurations will be set. (true or false : are only supported values)
UPDATE_SMTP_SETTINGS=false

# To update this values in the site, please go to configuration page - admin/config/system/smtp
smtp_host=smtp.gmail.com
smtp_port=587
smtp_protocol=tls
smtp_username=no-reply@digitalapicraft.com
smtp_password=enterYourPassword
smtp_from=no-reply@digitalapicraft.com

# File Settings
# To update this values in the site, please go to configuration page - admin/config/media/file-system
DRUPAL_TMP_PATH=/tmp


