
// Test Data page css
#block-views-block-test-data-list-block-1 {
  border: 1px solid #E3E3E3;

  h2 {
    padding: 10px 30px;
    background-color: #F0F0F0;
    margin: 0px;
    letter-spacing: 0.42px;
    color: #434242;
    font-size: 18px;
  }

  .swagger-api-list-links {
    display: block;
    padding: 0px;
    margin: 0px;
  }

  .views-field-title {
    border-bottom: 1px solid #E3E3E3;

    a {
      letter-spacing: 0.15px;
      color: #00000099;
      display: block;
      padding: 15px 30px;
      font-size: 14px;
    }
  }

  a.isactive {
    background-color: #E3E3E3;

  }

}

#block-testdataapitabs {
  .swagger-api-tabs {
    margin: 0px;
    border-bottom: 1px solid #E3E3E3;
    padding: 0px;

    .swagger-api-tab {
      a {
        color: #00000099;
        padding: 25px 40px;
        display: block;
      }
    }

    .swagger-api-tab.STU3 {
      display: none;
    }

    .swagger-api-tab-active {
      a {
        color: #487EF4;
        border-bottom: 2px solid #4582F4;
      }
    }
  }
}

// Test data page with paragraph
.page-node-test_data{
  .sidebar-main-content-wrapper{
    border: unset;
  }
}
.node-test-data {
  .mdc-tab--active {
    color: #487EF4;
    border-bottom: 2px solid #4582F4;
  }

  .inner-payload{
    .payload-id-section, .payload-body-section{
      border: 1px solid #E3E3E3;
      padding: 30px 20px;
      margin-bottom: 10px;
      line-height: 0px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
    }
    .payload-id-section{
      border-top: unset;
    }
    .payload-body-section{
      line-height: 26px;
      p{
        word-wrap: break-word;
      }
    }
  }
  .mdc-tab-scroller__scroll-content{
    margin: 0px;
    border-bottom: 1px solid #E3E3E3;
    padding: 0px;

  }
}

// Login Block
#block-loginconsentappcredentials{
  .mdc-text-field-wrapper{
    padding: 20px 0px;
  }
  h2{
    margin: 0px;
    letter-spacing: 0.42px;
    color: #434242;
    font-size: 18px;
  }
}
