{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}


<div class="mdc-text-field-wrapper">
  <div class="mdc-text-field mdc-text-field--outlined">
    <input {{ attributes.addClass('mdc-text-field__input') }} />{{ children }}
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <label for="tf-outlined" class="mdc-floating-label">{{ label }}</label>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
</div>