header#navbar {
  border-color: rgb(74, 73, 74);
  background-color: rgb(74, 73, 74);
  border-radius: 0px;
  z-index: 1000;
}

body {
  margin-top: 0px;
}

header .navbar-header a {
  float: left;
  line-height: 66px;
}

.region-logo-right {
  line-height: 74px;
  float: left;
}

ul.menu.menu--main.nav.navbar-nav {
  margin-left: 10%;
}

body header.navbar .nav > li > a {
  color: #dfdfdf;
  line-height: 47px;
  font-size: 13px;
}

body header.navbar .nav > li > a:hover, body header.navbar .nav > li > a:active, .navbar .active.active-trail {
  background-color: #353535;
  color: #FFFFFF;
}

.navbar .active.active-trail a {
  color: #FFFFFF;
}

.main-container.page-container {
  padding: 40px 0 80px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #353535;
}

/* Theming swagger page */
.swagger-ui .info .title {
  color: #fc4a00;
}

li.first.expanded.dropdown:hover .dropdown-menu {
  display: block;
}

.page-node-type-smartdocs .region-content .block {
  float: none !important;
  width: 100% !important;
}

.page-node-type-smartdocs .well.region.region-sidebar-second {
  margin-top: 20px;
  padding: 0px;
}

.swagger-ui .info hgroup.main a, .swagger-ui .info a, .swagger-ui .link {
  font-size: 14px;
  color: #f56450;
}

.swagger-ui code {
  color: #f56450;
}

.swagger-ui .btn.authorize svg {
  fill: #fff;
}

.swagger-ui .btn.authorize, .swagger-ui .btn.try-out__btn {
  line-height: 1;
  display: inline;
  color: #fff;
  border-color: #fe4203;
  background-color: #fe4203;
}

.swagger-ui .btn.cancel {
  border-color: #fe4203;
  background: #fff;
  color: #fe4203;
}

.swagger-ui .scheme-container, .swagger-ui section.models .model-container {
  background: #eeeced;
}

.information-container.wrapper {
  border: none;
}

section.schemes.wrapper.block.col-12 {
  padding: 0 20px;
}

.swagger-ui .opblock-tag:hover, .swagger-ui section.models h4:hover {
  background: #dbdbdb;
}

.swagger-ui .wrapper {
  padding: 0px;
}

.swagger-ui .opblock-tag, .swagger-ui section.models h4 {
  background: #eeeced;
}

.swagger-ui .info .base-url {
  background: #eeeced;
}

.swagger-ui .info .title small {
  background: #4a494a;
}

.swagger-ui .info .title small pre {
  color: #686969;
}

.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table, .swagger-ui .opblock-tag small, .swagger-ui .opblock .opblock-summary-description,
.swagger-ui .btn, .swagger-ui .dialog-ux .modal-ux-content p, .swagger-ui, .swagger-ui button, .swagger-ui input, .swagger-ui optgroup, .swagger-ui select, .swagger-ui textarea,
.swagger-ui .parameter__name, .swagger-ui select, .swagger-ui .info a, .swagger-ui .scheme-container .schemes > label, .swagger-ui .opblock .opblock-section-header h4, .swagger-ui table thead tr td, .swagger-ui table thead tr th {
  font-family: roboto;
}

.swagger-ui table thead tr td, .swagger-ui table thead tr th {
  font-size: 14px;
}

.swagger-ui .opblock-body pre {
  background: #4a494a;
}

.swagger-ui {
  padding-left: 10px;
}

/* Theming of quicktabs */
.block-views-blockquick-tab-block-1 h2 {
  margin-top: 0px;
  font-size: 14px;
  background: #4a4a4a;
  border-radius: 0;
  padding-left: 20px;
  line-height: normal;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 0px;
}

.quick-tab-apis a {
  color: #4a494a;
  font-size: 14px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
}

.quick-tab-apis a.active {
  color: #fe4203;
}

.quick-tab-apis a:hover {
  color: #fe4203;
}

.quick-tab-apis {
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.quick-tab-apis:hover {
  border: 1px solid rgb(85, 85, 85);
}

/* Gallery page*/
.app-gallery-content .app-title h2 {
  font-size: 24px;
  color: #777;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
  margin-top: 4px;
}

.gallery-image, .gallery-image img {
  padding: 0px 0px 0px 0px;
  /* margin-right: 12px; */
}

.app-gallery-content .row {
  margin: 0px;
}

.app-gallery-content {
  padding: 2px 34px;
}

.gallery-body {
  padding-left: 25px;
  padding-top: 1px;
  padding-right: 0px;
}

.field--name-field-website {
  padding-top: 8px;
}

.app-gallery-content .app-title h2:hover {
  color: #f56450;
}

.gallery-body h4 {
  text-rendering: optimizelegibility;
  color: #484848;
  font-weight: normal;
  margin-bottom: 0px;
}

.gallery-body a, .gallery-body a:hover {
  color: #f56450;
}

.gallery-body p, .gallery-body a {
  font-size: 13px;
}

/* Login popup */
.modal-title {
  color: #484848;
  font-weight: normal;
  padding: 0px;
  border-bottom: unset;
}

#login-form-popup {
  padding: 20px;
}

#login-form-popup label {
  float: none;
  font-weight: bold;
  padding-top: 5px;
  text-align: left;
  width: inherit;
  color: #484848;
  font-size: 13px;
  line-height: 18px;
}

#login-form-popup button.form-submit:before {
  content: "\e161";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  width: 1em;
  padding-right: 17px;
  color: #ffffff;
}

#login-form-popup button.form-submit {
  background-color: #009FD0;
  border-color: #009FD0;
  color: #ffffff;
}

.user-forgot-pass {
  padding-top: 54px;
  padding-bottom: 30px;
}

.user-forgot-pass a {
  color: #f56450;
}

#login-form-popup label.control-label.js-form-required.form-required:after {
  content: "*";
  padding-top: 0px;
  background-image: unset;
}

.modal-footer {
  display: block !important;
  padding: 19px 20px 20px;
}

/* Register popup */
.modal-body .ui-dialog-content {
  overflow: unset !important;
}

div#register-form-popup {
  padding: 20px;
}

#register-form-popup label {
  float: none;
  font-weight: bold;
  /*padding-top: 5px;*/
  text-align: left;
  width: inherit;
  color: #484848;
  font-size: 13px;
  line-height: 18px;
}

#register-form-popup button.form-submit {
  background-color: #009FD0;
  border-color: #009FD0;
}

#register-form-popup label.control-label.js-form-required.form-required:after {
  content: "*";
  padding-top: 0px;
  background-image: unset;
}

div#drupal-modal--content {
  margin: 10px;
}

.modal-body {
  padding: 0px 15px 0px 15px;
}

#register-form-popup .form-group {
  margin-bottom: 16px;
  margin-top: 12px;
}

/* SLIDER ISSUE*/

.view-id-slideshow_home img {
  width: 100% !important;

}

.views_slideshow_cycle_slide {
  width: 100% !important;

}

/* Forgot password */
.modal-content.request-pass-popup {
  width: 578px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.request-pass-popup button.form-submit, .request-pass-popup .modal-footer button {
  background: #009FD0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 13px;
  color: #ffffff;
}

.user-pass {
  padding: 20px 5px;
}

.user-pass label {
  color: #484848;
  font-size: 13px;
  line-height: 18px;
}

.user-pass label:after {
  content: "*" !important;
  background-image: unset !important;
}

.messages__wrapper {
  font-size: 13px;
}

.messages__wrapper a {
  color: #fe4203;
  font-weight: normal;
}

/* Edit profile */
form#user-form a {
  color: #F56450 !important;
}

#user-form .seven-details__summary:hover, #user-form .seven-details__summary:focus, #user-form .seven-details[open] > .seven-details__summary {
  color: #F56450;
}

#user-form .seven-details__summary {
  color: #F56450;
}

/* swagger css */
.b2c-container #OAuthV2B2B, .b2b-container #OAuthV2B2C {
  display: none;
}

/* Swagger version based page*/
section#block-views-block-swagger-version-stu-block-1 {
  color: #4a494a;
  font-size: 16px;
  line-height: 1.42857143;
  margin-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

section#block-views-block-swagger-version-stu-block-1 .views-col {
  background: #dbdbdb;
  margin-right: 1px;
  color: #4a494a;
  font-size: 16px;
  /*padding: 10px 15px;*/
  line-height: 1.42857143;
  width: unset !important;
}

section#block-views-block-swagger-version-stu-block-1 .views-field-name a {
  color: #4a494a;
  font-size: 16px;
  padding: 10px 50px;
  display: inline-block;
}

section#block-views-block-swagger-version-stu-block-1 .views-col.active {
  background: #4a494a;

}

section#block-views-block-swagger-version-stu-block-1 .views-col.active a {
  color: #FFFFFF;
}

.information-container.wrapper .url {
  display: none;
}

/* Footer logo removed*/
.persistent-footer-logo {
  background-image: unset;
  width: unset;
  color: #ffffff;
  opacity: 0.3;
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
}

.persistent-footer-logo:hover {
  color: #ffffff;
  opacity: 0.3;
}

/*Custom attributes*/
.custom_attrib.custom_attrib_add {
  display: block !important;
}

.custom_attrib {
  display: none;
}

.custom_attrib .panel-body {
  padding: 0px;
  margin-bottom: 15px;
}

.custom_attrib .panel {
  border: unset;
}

/* Add throbber to file upload */
.js .js-hide {
  display: block !important;
}

/*Swagger Tabs and Links */

.swagger-api-tabs {
  margin-left: 20px !important;
  padding: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.swagger-api-tabs li {
  display: inline-block;
  background: #dbdbdb;
  margin-right: 1px;
  color: #4a494a;
  font-size: 16px;
  line-height: 1.42857143;
}

.swagger-api-tabs li.swagger-api-tab-active {
  background: #4a494a;
  border: 2px solid #fe4203;
}

li.swagger-api-list-link-active.swagger-api-list-link{
  border: 1px solid #fe4203;
}

.swagger-api-tabs li a {
  color: #4a494a;
  font-size: 16px;
  padding: 10px 50px;
  display: inline-block;
}

.swagger-api-tabs li.swagger-api-tab-active a {
  color: #fff;
}

.swagger-api-list-header {
  margin-top: 0px;
  font-size: 14px;
  background: #4a4a4a;
  border-radius: 0;
  padding-left: 20px;
  line-height: normal;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 0px;
}

.swagger-api-list-links {
  padding: 0px !important;
}

.swagger-api-list-links li {
  border: 1px solid transparent;
  border-bottom: 1px solid #d3d3d3;
}

.swagger-api-list-links li:hover {
  border: 1px solid rgb(85, 85, 85);
}

.swagger-api-list-links li a {
  color: #4a494a;
  font-size: 14px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
}

.swagger-api-list-links li:hover a, .swagger-api-list-links li.swagger-api-list-link-active a {
  color: #fe4203;
}

.swagger-not-found-wrap {
  margin: 20px;
}

.path-swagger-not-found .well.region.region-sidebar-second {
  margin-top: 20px;
  padding: 0px;
}

/* GH-314 */
button.btn.authorize.b2b-authorize-btn {
  margin-top: 5px;
}

.swagger-ui .auth-wrapper {
  display: block;
}
