openapi: 3.0.1
info:
  title: HL7® FHIR® CareTeam resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: CareTeam
paths:
  /CareTeam:
    get:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: date
        in: query
        description: Time period team covers
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        description: External Ids for this team
        schema:
          type: string
      - name: patient
        in: query
        description: Who care team is for
        schema:
          type: string
      - name: subject
        in: query
        description: Who care team is for
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: encounter
        in: query
        description: Encounter created as part of
        schema:
          type: string
      - name: category
        in: query
        description: Type of team
        schema:
          type: string
      - name: participant
        in: query
        description: Who is involved
        schema:
          type: string
      - name: status
        in: query
        description: proposed | active | suspended | inactive | entered-in-error
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareTeam'
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
    post:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/CareTeam'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
  /CareTeam/{id}:
    get:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/CareTeam'
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
    put:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/CareTeam'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
    delete:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
  /CareTeam/{id}/_history:
    get:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
  /CareTeam/_history:
    get:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
  /CareTeam/{id}/_history/{vid}:
    get:
      tags:
      - CareTeam
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/CareTeam'
      security:
        - OAuthV2B2B:
            - patient/CareTeam.read
            - patient/CareTeam.write
components:
  schemas:
    CareTeam:
      required:
      - category
      - contained
      - encounter
      - id
      - identifier
      - managingOrganization
      - meta
      - name
      - participant
      - period
      - resourceType
      - status
      - subject
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        contained:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - id
            - resourceType
            type: object
            properties:
              resourceType:
                minLength: 1
                type: string
              id:
                minLength: 1
                type: string
              name:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - family
                  type: object
                  properties:
                    family:
                      minLength: 1
                      type: string
                    given:
                      type: array
                      items:
                        type: object
                        properties: {}
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - value
            type: object
            properties:
              value:
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        category:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        name:
          minLength: 1
          type: string
        subject:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        encounter:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        period:
          required:
          - end
          type: object
          properties:
            end:
              minLength: 1
              type: string
        participant:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              role:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - text
                  type: object
                  properties:
                    text:
                      minLength: 1
                      type: string
              member:
                required:
                - display
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
              onBehalfOf:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
              period:
                required:
                - end
                type: object
                properties:
                  end:
                    minLength: 1
                    type: string
        managingOrganization:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/CareTeam.read: Read permissions for CareTeam demographics.
            patient/CareTeam.write: Write permissions for CareTeam demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/CareTeam.read: Read permissions for CareTeam demographics.
            patient/CareTeam.write: Write permissions for CareTeam demographics.
