openapi: 3.0.1
info:
  title: HL7® FHIR® Claim resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Claim
paths:
  /Claim:
    get:
      tags:
      - Claim
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: care-team
        in: query
        description: Member of the CareTeam
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: identifier
        in: query
        description: The primary identifier of the financial resource
        schema:
          type: string
      - name: created
        in: query
        description: The creation date for the Claim
        schema:
          type: string
          format: date
      - name: use
        in: query
        description: The kind of financial resource
        schema:
          type: string
      - name: encounter
        in: query
        description: Encounters associated with a billed line item
        schema:
          type: string
      - name: priority
        in: query
        description: Processing priority requested
        schema:
          type: string
      - name: payee
        in: query
        description: The party receiving any payment for the Claim
        schema:
          type: string
      - name: provider
        in: query
        description: Provider responsible for the Claim
        schema:
          type: string
      - name: insurer
        in: query
        description: The target payor/insurer for the Claim
        schema:
          type: string
      - name: patient
        in: query
        description: Patient receiving the products or services
        schema:
          type: string
      - name: detail-udi
        in: query
        description: UDI associated with a line item, detail product or service
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: enterer
        in: query
        description: The party responsible for the entry of the Claim
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: procedure-udi
        in: query
        description: UDI associated with a procedure
        schema:
          type: string
      - name: subdetail-udi
        in: query
        description: UDI associated with a line item, detail, subdetail product or
          service
        schema:
          type: string
      - name: facility
        in: query
        description: Facility where the products or services have been or will be
          provided
        schema:
          type: string
      - name: item-udi
        in: query
        description: UDI associated with a line item product or service
        schema:
          type: string
      - name: status
        in: query
        description: The status of the Claim instance.
        schema:
          type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Claim'
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
    put:
      tags:
        - Claim
      description: 'The conditional update interaction is used to update an existing Claim based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claim Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _filter
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _has
          in: query
          description: Return resources linked to by the given target
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: identifier
          in: query
          description: A Claim Identifier
          schema:
            type: string
        - name: patient
          in: query
          description: The subject that the observation is about (if patient)
          schema:
            type: string
        - name: priority
          in: query
          description: Processing priority requested
          schema:
            type: string
        - name: provider
          in: query
          description: Provider responsible for the claim
          schema:
            type: string
        - name: use
          in: query
          description: The kind of financial resources
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Claim'
        required: true
      responses:
        '200':
          description: Claim Updated.
          content: {}
        '201':
          description: Claim Created.
          content: {}
        '400':
          description: Claim could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.write
    post:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Claim'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Claim could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Claim not found.
          content: {}
        '422':
          description: The Claim resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
    delete:
      tags:
        - Claim
      description: 'The conditional delete interaction allows a client to delete Claim/Claim  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claim Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: identifier
          in: query
          description: A Claim Identifier
          schema:
            type: string
        - name: patient
          in: query
          description: The subject that the observation is about (if patient)
          schema:
            type: string
        - name: priority
          in: query
          description: Processing priority requested
          schema:
            type: string
        - name: provider
          in: query
          description: Provider responsible for the claim
          schema:
            type: string
        - name: use
          in: query
          description: The kind of financial resources
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Claim not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.write
  /Claim/{id}:
    get:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Claim'
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
    put:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Claim'
        required: false
      responses:
        '200':
          description: Claim Updated.
          content: {}
        '201':
          description: Claim Created.
          content: {}
        '400':
          description: Claim could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
    delete:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Claim not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/_history:
    get:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/_history:
    get:
      tags:
      - Claim
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/_history/{vid}:
    get:
      tags:
      - Claim
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Claim'
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/$meta:
    get:
      tags:
        - Claim
      description: 'Retrieves a summary of the profiles, tags, and security labels for Claim.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claim Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for Claim'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/$meta:
    get:
      tags:
        - Claim
      description: 'Retrieves a summary of the profiles, tags, and security labels for given Claim resource.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claims Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/_history/{vid}/$meta:
    get:
      tags:
        - Claim
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the Claim.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claim Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/{type}:
    get:
      tags:
        - Claim
      description: 'Search the specified resource type in Claim compartment.<p><a href = ''https://www.hl7.org/fhir/Claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular Claim
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/_search:
    post:
      tags:
        - Claim
      description: 'This interaction searches a set of Claim based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Claim Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: actor
          in: query
          description: 'The individual(HealthcareService, Practitioner, Location, ...) to find a Claim for'
          schema:
            type: string
        - name: date
          in: query
          description: 'Search for Claim resources that have a period that contains this date specified. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: A Claim Identifier
          schema:
            type: string
        - name: type
          in: query
          description: The type of appointments that can be booked into associated slot(s)
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                actor:
                  type: string
                  description: 'The individual(HealthcareService, Practitioner, Location, ...) to find a Claim for'
                date:
                  type: string
                  description: 'Search for Claim resources that have a period that contains this date specified. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                identifier:
                  type: string
                  description: A Claim Identifier
                type:
                  type: string
                  description: The type of appointments that can be booked into associated slot(s)
      responses:
        '200':
          description: Claim bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Claim'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
  /Claim/{id}/$meta-add:
    post:
      tags:
        - Claim
      description: 'Add a metadata info Claim with specified id.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Add Claim metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Claim creation
          content: {}
        '400':
          description: Claim could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Claim not found.
          content: {}
        '422':
          description: The Claim resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
  /Claim/{id}/_history/{vid}/$meta-add:
    post:
      tags:
        - Claim
      description: 'Add metadata info to specified Claim resource.<p><a href = ''https://www.hl7.org/fhir/claim.html''>FHIR documentation for Claim.</a></p>'
      operationId: Add Claim Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Claim could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Claim not found.
          content: {}
        '422':
          description: The Claim resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Claim.read
            - patient/Claim.write
components:
  schemas:
    Claim:
      required:
      - careTeam
      - created
      - diagnosis
      - id
      - identifier
      - insurance
      - insurer
      - item
      - meta
      - patient
      - payee
      - priority
      - provider
      - resourceType
      - status
      - text
      - type
      - use
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        type:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
        use:
          minLength: 1
          type: string
        patient:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        created:
          minLength: 1
          type: string
        insurer:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        provider:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        priority:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                type: object
                properties:
                  code:
                    minLength: 1
                    type: string
        payee:
          required:
          - type
          type: object
          properties:
            type:
              required:
              - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                    - code
                    type: object
                    properties:
                      code:
                        minLength: 1
                        type: string
        careTeam:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - sequence
            type: object
            properties:
              sequence:
                type: number
              provider:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        diagnosis:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - sequence
            type: object
            properties:
              sequence:
                type: number
              diagnosisCodeableConcept:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      type: object
                      properties:
                        code:
                          minLength: 1
                          type: string
        insurance:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - focal
            - sequence
            type: object
            properties:
              sequence:
                type: number
              focal:
                type: boolean
              identifier:
                required:
                - system
                - value
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  value:
                    minLength: 1
                    type: string
              coverage:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        item:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - sequence
            - servicedDate
            type: object
            properties:
              sequence:
                type: number
              careTeamSequence:
                type: array
                items:
                  type: object
                  properties: {}
              productOrService:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      type: object
                      properties:
                        code:
                          minLength: 1
                          type: string
              servicedDate:
                minLength: 1
                type: string
              unitPrice:
                required:
                - currency
                - value
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    minLength: 1
                    type: string
              net:
                required:
                - currency
                - value
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    minLength: 1
                    type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/Claim.read: Read permissions for Claim demographics.
            patient/Claim.write: Write permissions for Claim demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Claim.read: Read permissions for Claim demographics.
            patient/Claim.write: Write permissions for Claim demographics.
