openapi: 3.0.1
info:
  title: HL7® FHIR® Composition resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Composition
paths:
  /Composition:
    get:
      tags:
      - Composition
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: date
        in: query
        description: Composition editing time
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        description: Version-independent identifier for the Composition
        schema:
          type: string
      - name: period
        in: query
        description: The period covered by the documentation
        schema:
          type: string
          format: date
      - name: related-id
        in: query
        description: Target of the relationship
        schema:
          type: string
      - name: author
        in: query
        description: Who and/or what authored the composition
        schema:
          type: string
      - name: subject
        in: query
        description: Who and/or what the composition is about
        schema:
          type: string
      - name: confidentiality
        in: query
        description: As defined by affinity domain
        schema:
          type: string
      - name: section
        in: query
        description: Classification of section (recommended)
        schema:
          type: string
      - name: encounter
        in: query
        description: Context of the Composition
        schema:
          type: string
      - name: title
        in: query
        description: Human Readable name/title
        schema:
          type: string
      - name: type
        in: query
        description: Kind of composition (LOINC if possible)
        schema:
          type: string
      - name: attester
        in: query
        description: Who attested the composition
        schema:
          type: string
      - name: entry
        in: query
        description: A reference to data that supports this section
        schema:
          type: string
      - name: related-ref
        in: query
        description: Target of the relationship
        schema:
          type: string
      - name: patient
        in: query
        description: Who and/or what the composition is about
        schema:
          type: string
      - name: context
        in: query
        description: Code(s) that apply to the event being documented
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: category
        in: query
        description: Categorization of Composition
        schema:
          type: string
      - name: status
        in: query
        description: preliminary | final | amended | entered-in-error
        schema:
          type: string
      - name: class
        in: query
        description: Categorization of Composition
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Composition'
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
    put:
      tags:
        - Composition
      parameters:
        - name: _language
          in: query
          description: The language of the resource
          schema:
            type: string
        - name: date
          in: query
          description: Composition editing time
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Logical identifier of composition (version-independent)
          schema:
            type: string
        - name: period
          in: query
          description: The period covered by the documentation
          schema:
            type: string
            format: date
        - name: related-id
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: author
          in: query
          description: Who and/or what authored the composition
          schema:
            type: string
        - name: subject
          in: query
          description: Who and/or what the composition is about
          schema:
            type: string
        - name: confidentiality
          in: query
          description: As defined by affinity domain
          schema:
            type: string
        - name: section
          in: query
          description: Classification of section (recommended)
          schema:
            type: string
        - name: encounter
          in: query
          description: Context of the Composition
          schema:
            type: string
        - name: title
          in: query
          description: Human Readable name/title
          schema:
            type: string
        - name: type
          in: query
          description: Kind of composition (LOINC if possible)
          schema:
            type: string
        - name: attester
          in: query
          description: Who attested the composition
          schema:
            type: string
        - name: entry
          in: query
          description: A reference to data that supports this section
          schema:
            type: string
        - name: related-ref
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: patient
          in: query
          description: Who and/or what the composition is about
          schema:
            type: string
        - name: context
          in: query
          description: Code(s) that apply to the event being documented
          schema:
            type: string
        - name: _id
          in: query
          description: The ID of the resource
          schema:
            type: string
        - name: class
          in: query
          description: Categorization of Composition
          schema:
            type: string
        - name: status
          in: query
          description: preliminary | final | amended | entered-in-error
          schema:
            type: string
        - name: _format
          in: query
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Composition'
        required: true
      responses:
        '200':
          description: Composition bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Composition'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Composition.read
      x-codegen-request-body-name: Resource data
    post:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Composition'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Composition could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Composition not found.
          content: {}
        '422':
          description: The Composition resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
    delete:
      tags:
        - Composition
      description: 'The conditional delete interaction allows a client to delete Composition/Composition  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/composition.html''>FHIR documentation for Composition.</a></p>'
      operationId: Composition Conditional Delete
      parameters:
        - name: _language
          in: query
          description: The language of the resource
          schema:
            type: string
        - name: date
          in: query
          description: Composition editing time
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Logical identifier of composition (version-independent)
          schema:
            type: string
        - name: period
          in: query
          description: The period covered by the documentation
          schema:
            type: string
            format: date
        - name: related-id
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: author
          in: query
          description: Who and/or what authored the composition
          schema:
            type: string
        - name: subject
          in: query
          description: Who and/or what the composition is about
          schema:
            type: string
        - name: confidentiality
          in: query
          description: As defined by affinity domain
          schema:
            type: string
        - name: section
          in: query
          description: Classification of section (recommended)
          schema:
            type: string
        - name: encounter
          in: query
          description: Context of the Composition
          schema:
            type: string
        - name: title
          in: query
          description: Human Readable name/title
          schema:
            type: string
        - name: type
          in: query
          description: Kind of composition (LOINC if possible)
          schema:
            type: string
        - name: attester
          in: query
          description: Who attested the composition
          schema:
            type: string
        - name: entry
          in: query
          description: A reference to data that supports this section
          schema:
            type: string
        - name: related-ref
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: patient
          in: query
          description: Who and/or what the composition is about
          schema:
            type: string
        - name: context
          in: query
          description: Code(s) that apply to the event being documented
          schema:
            type: string
        - name: _id
          in: query
          description: The ID of the resource
          schema:
            type: string
        - name: class
          in: query
          description: Categorization of Composition
          schema:
            type: string
        - name: status
          in: query
          description: preliminary | final | amended | entered-in-error
          schema:
            type: string
        - name: _format
          in: query
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Composition not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Composition.write
      x-codegen-request-body-name: Resource data
  /Composition/{id}:
    get:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Composition'
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
    put:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Composition'
        required: false
      responses:
        '200':
          description: Composition Updated.
          content: {}
        '201':
          description: Composition Created.
          content: {}
        '400':
          description: Composition could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
    delete:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Composition not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
  /Composition/{id}/_history:
    get:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
  /Composition/_history:
    get:
      tags:
      - Composition
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
  /Composition/{id}/_history/{vid}:
    get:
      tags:
      - Composition
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Composition'
      security:
        - OAuthV2B2B:
            - patient/Composition.read
            - patient/Composition.write
components:
  schemas:
    Composition:
      required:
      - attester
      - author
      - category
      - confidentiality
      - custodian
      - date
      - encounter
      - event
      - id
      - identifier
      - meta
      - relatesTo
      - resourceType
      - section
      - status
      - subject
      - text
      - title
      - type
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          required:
          - system
          - value
          type: object
          properties:
            system:
              minLength: 1
              type: string
            value:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        type:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        category:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        subject:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        encounter:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        date:
          minLength: 1
          type: string
        author:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - display
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
              display:
                minLength: 1
                type: string
        title:
          minLength: 1
          type: string
        confidentiality:
          minLength: 1
          type: string
        attester:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - mode
            - time
            type: object
            properties:
              mode:
                minLength: 1
                type: string
              time:
                minLength: 1
                type: string
              party:
                required:
                - display
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        custodian:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        relatesTo:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - code
            type: object
            properties:
              code:
                minLength: 1
                type: string
              targetReference:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        event:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              code:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      minItems: 1
                      uniqueItems: true
                      type: array
                      items:
                        required:
                        - code
                        - display
                        - system
                        type: object
                        properties:
                          system:
                            minLength: 1
                            type: string
                          code:
                            minLength: 1
                            type: string
                          display:
                            minLength: 1
                            type: string
              period:
                required:
                - end
                - start
                type: object
                properties:
                  start:
                    minLength: 1
                    type: string
                  end:
                    minLength: 1
                    type: string
              detail:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - reference
                  type: object
                  properties:
                    reference:
                      minLength: 1
                      type: string
        section:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - mode
            - title
            type: object
            properties:
              title:
                minLength: 1
                type: string
              code:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - display
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              text:
                required:
                - div
                - status
                type: object
                properties:
                  status:
                    minLength: 1
                    type: string
                  div:
                    minLength: 1
                    type: string
              mode:
                minLength: 1
                type: string
              orderedBy:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - display
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              entry:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - reference
                  type: object
                  properties:
                    reference:
                      minLength: 1
                      type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Composition.read: Read permissions for Composition demographics.
            patient/Composition.write: Write permissions for Composition demographics.
