openapi: 3.0.1
info:
  title: HL7® FHIR® DocumentReference resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: DocumentReference
paths:
  /DocumentReference:
    get:
      tags:
      - DocumentReference
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: related-ref
        in: query
        description: Related Resource
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: securitylabel
        in: query
        description: Document security-tags
        schema:
          type: string
      - name: date
        in: query
        description: When this document reference was created
        schema:
          type: string
          format: date
      - name: relatesto-relation
        in: query
        description: Combination of relation and relatesTo
        schema:
          type: string
      - name: patientId
        in: query
        schema:
          type: string
      - name: subject
        in: query
        description: Who/what is the subject of the document
        schema:
          type: string
      - name: related-id
        in: query
        description: Identifier of related objects or events
        schema:
          type: string
      - name: description
        in: query
        description: Human-readable description
        schema:
          type: string
      - name: language
        in: query
        description: Human language of the content (BCP-47)
        schema:
          type: string
      - name: type
        in: query
        description: Kind of document (LOINC if possible)
        schema:
          type: string
      - name: relation
        in: query
        description: replaces | transforms | signs | appends
        schema:
          type: string
      - name: setting
        in: query
        description: Additional details about where the content was created (e.g.
          clinical specialty)
        schema:
          type: string
      - name: related
        in: query
        description: Related identifiers or resources
        schema:
          type: string
      - name: patient
        in: query
        description: Who/what is the subject of the document
        schema:
          type: string
      - name: event
        in: query
        description: Main clinical acts documented
        schema:
          type: string
      - name: indexed
        in: query
        description: 'When this document reference created. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: relationship
        in: query
        description: Combination of relation and relatesTo
        schema:
          type: string
      - name: authenticator
        in: query
        description: Who/what authenticated the document
        schema:
          type: string
      - name: identifier
        in: query
        description: Master Version Specific Identifier
        schema:
          type: string
      - name: period
        in: query
        description: Time of service that is being documented
        schema:
          type: string
          format: date
      - name: created
        in: query
        description: 'Document creation time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: custodian
        in: query
        description: Organization which maintains the document
        schema:
          type: string
      - name: author
        in: query
        description: Who and/or what authored the document
        schema:
          type: string
      - name: format
        in: query
        description: Format/content rules for the document
        schema:
          type: string
      - name: encounter
        in: query
        description: Context of the document  content
        schema:
          type: string
      - name: contenttype
        in: query
        description: Mime type of the content, with charset etc.
        schema:
          type: string
      - name: security-label
        in: query
        description: Document security-tags
        schema:
          type: string
      - name: class
        in: query
        description: Categorization of document
        schema:
          type: string
      - name: location
        in: query
        description: Uri where the data can be found
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: category
        in: query
        description: Categorization of document
        schema:
          type: string
      - name: relatesto
        in: query
        description: Target of the relationship
        schema:
          type: string
      - name: facility
        in: query
        description: Kind of facility where patient was seen
        schema:
          type: string
      - name: status
        in: query
        description: current | superseded | entered-in-error
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentReference'
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
    put:
      tags:
        - DocumentReference
      description: 'The conditional update interaction is used to update an existing DocumentReference based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReference Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: authenticator
          in: query
          description: Who/what authenticated the document
          schema:
            type: string
        - name: author
          in: query
          description: Who and/or what authored the document
          schema:
            type: string
        - name: class
          in: query
          description: Categorization of document
          schema:
            type: string
        - name: created
          in: query
          description: 'Document creation time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: custodian
          in: query
          description: Organization which maintains the document
          schema:
            type: string
        - name: description
          in: query
          description: Human-readable description (title)
          schema:
            type: string
        - name: encounter
          in: query
          description: Context of the document  content
          schema:
            type: string
        - name: event
          in: query
          description: Main Clinical Acts Documented
          schema:
            type: string
        - name: facility
          in: query
          description: Kind of facility where patient was seen
          schema:
            type: string
        - name: format
          in: query
          description: Format/content rules for the document
          schema:
            type: string
        - name: identifier
          in: query
          description: Master Version Specific Identifier
          schema:
            type: string
        - name: indexed
          in: query
          description: 'When this document reference created. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: language
          in: query
          description: Human language of the content (BCP-47)
          schema:
            type: string
        - name: location
          in: query
          description: Uri where the data can be found
          schema:
            type: string
        - name: patient
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: period
          in: query
          description: 'Time of service that is being documented. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: related-id
          in: query
          description: Identifier of related objects or events
          schema:
            type: string
        - name: related-ref
          in: query
          description: Related Resource
          schema:
            type: string
        - name: relatesto
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: relatesto-relation
          in: query
          description: Combination of relation and relatesTo
          schema:
            type: string
        - name: relation
          in: query
          description: replaces | transforms | signs | appends
          schema:
            type: string
        - name: securitylabel
          in: query
          description: Document security-tags
          schema:
            type: string
        - name: setting
          in: query
          description: Additional details about where the content was created (e.g. clinical specialty)
          schema:
            type: string
        - name: status
          in: query
          description: current | superseded | entered-in-error
          schema:
            type: string
        - name: subject
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: type
          in: query
          description: Kind of document (LOINC if possible)
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/DocumentReference'
        required: true
      responses:
        '200':
          description: DocumentReference Updated.
          content: {}
        '201':
          description: DocumentReference Created.
          content: {}
        '400':
          description: DocumentReference could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
    post:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/DocumentReference'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: DocumentReference could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: DocumentReference not found.
          content: {}
        '422':
          description: The DocumentReference resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
    delete:
      tags:
        - DocumentReference
      description: 'The conditional delete interaction allows a client to delete DocumentReference/DocumentReferences  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReference Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: authenticator
          in: query
          description: Who/what authenticated the document
          schema:
            type: string
        - name: author
          in: query
          description: Who and/or what authored the document
          schema:
            type: string
        - name: class
          in: query
          description: Categorization of document
          schema:
            type: string
        - name: created
          in: query
          description: 'Document creation time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: custodian
          in: query
          description: Organization which maintains the document
          schema:
            type: string
        - name: description
          in: query
          description: Human-readable description (title)
          schema:
            type: string
        - name: encounter
          in: query
          description: Context of the document  content
          schema:
            type: string
        - name: event
          in: query
          description: Main Clinical Acts Documented
          schema:
            type: string
        - name: facility
          in: query
          description: Kind of facility where patient was seen
          schema:
            type: string
        - name: format
          in: query
          description: Format/content rules for the document
          schema:
            type: string
        - name: identifier
          in: query
          description: Master Version Specific Identifier
          schema:
            type: string
        - name: indexed
          in: query
          description: 'When this document reference created. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: language
          in: query
          description: Human language of the content (BCP-47)
          schema:
            type: string
        - name: location
          in: query
          description: Uri where the data can be found
          schema:
            type: string
        - name: patient
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: period
          in: query
          description: 'Time of service that is being documented. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: related-id
          in: query
          description: Identifier of related objects or events
          schema:
            type: string
        - name: related-ref
          in: query
          description: Related Resource
          schema:
            type: string
        - name: relatesto
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: relatesto-relation
          in: query
          description: Combination of relation and relatesTo
          schema:
            type: string
        - name: relation
          in: query
          description: replaces | transforms | signs | appends
          schema:
            type: string
        - name: securitylabel
          in: query
          description: Document security-tags
          schema:
            type: string
        - name: setting
          in: query
          description: Additional details about where the content was created (e.g. clinical specialty)
          schema:
            type: string
        - name: status
          in: query
          description: current | superseded | entered-in-error
          schema:
            type: string
        - name: subject
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: type
          in: query
          description: Kind of document (LOINC if possible)
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: DocumentReference not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}:
    get:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/DocumentReference'
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
    put:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/DocumentReference'
        required: false
      responses:
        '200':
          description: DocumentReference Updated.
          content: {}
        '201':
          description: DocumentReference Created.
          content: {}
        '400':
          description: DocumentReference could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
    delete:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: DocumentReference not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/_history:
    get:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/_history:
    get:
      tags:
      - DocumentReference
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/_history/{vid}:
    get:
      tags:
      - DocumentReference
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/DocumentReference'
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/$meta:
    get:
      tags:
        - DocumentReference
      description: 'Retrieves a summary of the profiles, tags, and security labels for DocumentReferences.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReferences Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for DocumentReference'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/$meta:
    get:
      tags:
        - DocumentReference
      description: 'Retrieves a summary of the profiles, tags, and security labels for given DocumentReference resource.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReference Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/_history/{vid}/$meta:
    get:
      tags:
        - DocumentReference
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the DocumentReference.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReference Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/{type}:
    get:
      tags:
        - DocumentReference
      description: 'Search the specified resource type in DocumentReference compartment.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular DocumentReference
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
  /DocumentReference/_search:
    post:
      tags:
        - DocumentReference
      description: 'This interaction searches a set of DocumentReferences based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: DocumentReferences Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: authenticator
          in: query
          description: Who/what authenticated the document
          schema:
            type: string
        - name: author
          in: query
          description: Who and/or what authored the document
          schema:
            type: string
        - name: class
          in: query
          description: Categorization of document
          schema:
            type: string
        - name: created
          in: query
          description: 'Document creation time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: custodian
          in: query
          description: Organization which maintains the document
          schema:
            type: string
        - name: description
          in: query
          description: Human-readable description (title)
          schema:
            type: string
        - name: encounter
          in: query
          description: Context of the document  content
          schema:
            type: string
        - name: event
          in: query
          description: Main Clinical Acts Documented
          schema:
            type: string
        - name: facility
          in: query
          description: Kind of facility where patient was seen
          schema:
            type: string
        - name: format
          in: query
          description: Format/content rules for the document
          schema:
            type: string
        - name: identifier
          in: query
          description: Master Version Specific Identifier
          schema:
            type: string
        - name: indexed
          in: query
          description: 'When this document reference created. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: language
          in: query
          description: Human language of the content (BCP-47)
          schema:
            type: string
        - name: location
          in: query
          description: Uri where the data can be found
          schema:
            type: string
        - name: patient
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: period
          in: query
          description: 'Time of service that is being documented. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: related-id
          in: query
          description: Identifier of related objects or events
          schema:
            type: string
        - name: related-ref
          in: query
          description: Related Resource
          schema:
            type: string
        - name: relatesto
          in: query
          description: Target of the relationship
          schema:
            type: string
        - name: relatesto-relation
          in: query
          description: Combination of relation and relatesTo
          schema:
            type: string
        - name: relation
          in: query
          description: replaces | transforms | signs | appends
          schema:
            type: string
        - name: securitylabel
          in: query
          description: Document security-tags
          schema:
            type: string
        - name: setting
          in: query
          description: Additional details about where the content was created (e.g. clinical specialty)
          schema:
            type: string
        - name: status
          in: query
          description: current | superseded | entered-in-error
          schema:
            type: string
        - name: subject
          in: query
          description: Who/what is the subject of the document
          schema:
            type: string
        - name: type
          in: query
          description: Kind of document (LOINC if possible)
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                authenticator:
                  type: string
                  description: Who/what authenticated the document
                author:
                  type: string
                  description: Who and/or what authored the document
                class:
                  type: string
                  description: Categorization of document
                created:
                  type: string
                  description: 'Document creation time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                custodian:
                  type: string
                  description: Organization which maintains the document
                description:
                  type: string
                  description: Human-readable description (title)
                encounter:
                  type: string
                  description: Context of the document  content
                event:
                  type: string
                  description: Main Clinical Acts Documented
                facility:
                  type: string
                  description: Kind of facility where patient was seen
                format:
                  type: string
                  description: Format/content rules for the document
                identifier:
                  type: string
                  description: Master Version Specific Identifier
                indexed:
                  type: string
                  description: 'When this document reference created. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                language:
                  type: string
                  description: Human language of the content (BCP-47)
                location:
                  type: string
                  description: Uri where the data can be found
                patient:
                  type: string
                  description: Who/what is the subject of the document
                period:
                  type: string
                  description: 'Time of service that is being documented. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                related-id:
                  type: string
                  description: Identifier of related objects or events
                related-ref:
                  type: string
                  description: Related Resource
                relatesto:
                  type: string
                  description: Target of the relationship
                relatesto-relation:
                  type: string
                  description: Combination of relation and relatesTo
                relation:
                  type: string
                  description: replaces | transforms | signs | appends
                securitylabel:
                  type: string
                  description: Document security-tags
                setting:
                  type: string
                  description: Additional details about where the content was created (e.g. clinical specialty)
                status:
                  type: string
                  description: current | superseded | entered-in-error
                subject:
                  type: string
                  description: Who/what is the subject of the document
                type:
                  type: string
                  description: Kind of document (LOINC if possible)
      responses:
        '200':
          description: DocumentReference bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentReference'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
  /DocumentReference/{id}/$meta-add:
    post:
      tags:
        - DocumentReference
      description: 'Add a metadata info DocumentReference with specified id.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: Add DocumentReference metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: DocumentReference could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: DocumentReference not found.
          content: {}
        '422':
          description: The DocumentReference resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
  /DocumentReference/{id}/_history/{vid}/$meta-add:
    post:
      tags:
        - DocumentReference
      description: 'Add metadata info to specified DocumentReference resource.<p><a href = ''https://www.hl7.org/fhir/documentreference.html''>FHIR documentation for DocumentReference.</a></p>'
      operationId: Add DocumentReference Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: DocumentReference could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: DocumentReference not found.
          content: {}
        '422':
          description: The DocumentReference resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/DocumentReference.read
            - patient/DocumentReference.write
components:
  schemas:
    DocumentReference:
      required:
      - authenticator
      - author
      - category
      - contained
      - content
      - context
      - custodian
      - date
      - description
      - docStatus
      - id
      - identifier
      - masterIdentifier
      - meta
      - relatesTo
      - resourceType
      - securityLabel
      - status
      - subject
      - text
      - type
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        contained:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - id
            - resourceType
            type: object
            properties:
              resourceType:
                minLength: 1
                type: string
              id:
                minLength: 1
                type: string
              name:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - family
                  type: object
                  properties:
                    family:
                      minLength: 1
                      type: string
                    given:
                      type: array
                      items:
                        type: object
                        properties: {}
        masterIdentifier:
          required:
          - system
          - value
          type: object
          properties:
            system:
              minLength: 1
              type: string
            value:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        docStatus:
          minLength: 1
          type: string
        type:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        category:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        subject:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        date:
          minLength: 1
          type: string
        author:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        authenticator:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        custodian:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        relatesTo:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - code
            type: object
            properties:
              code:
                minLength: 1
                type: string
              target:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        description:
          minLength: 1
          type: string
        securityLabel:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        content:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              attachment:
                required:
                - contentType
                - creation
                - hash
                - language
                - size
                - title
                - url
                type: object
                properties:
                  contentType:
                    minLength: 1
                    type: string
                  language:
                    minLength: 1
                    type: string
                  url:
                    minLength: 1
                    type: string
                  size:
                    type: number
                  hash:
                    minLength: 1
                    type: string
                  title:
                    minLength: 1
                    type: string
                  creation:
                    minLength: 1
                    type: string
              format:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        context:
          required:
          - encounter
          - event
          - facilityType
          - period
          - practiceSetting
          - related
          - sourcePatientInfo
          type: object
          properties:
            encounter:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
            event:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - display
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
            period:
              required:
              - end
              - start
              type: object
              properties:
                start:
                  minLength: 1
                  type: string
                end:
                  minLength: 1
                  type: string
            facilityType:
              required:
              - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                    - code
                    - display
                    - system
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      display:
                        minLength: 1
                        type: string
            practiceSetting:
              required:
              - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                    - code
                    - display
                    - system
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      display:
                        minLength: 1
                        type: string
            sourcePatientInfo:
              required:
              - reference
              type: object
              properties:
                reference:
                  minLength: 1
                  type: string
            related:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  identifier:
                    required:
                    - system
                    - value
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      value:
                        minLength: 1
                        type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/DocumentReference.read: Read permissions for DocumentReference demographics.
            patient/DocumentReference.write: Write permissions for DocumentReference demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/DocumentReference.read: Read permissions for DocumentReference demographics.
            patient/DocumentReference.write: Write permissions for DocumentReference demographics.
