openapi: 3.0.1
info:
  title: HL7® FHIR® Immunization resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Immunization
paths:
  /Immunization:
    get:
      tags:
      - Immunization
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: date
        in: query
        description: Vaccination  (non)-Administration Date
        schema:
          type: string
          format: date
      - name: dose-sequence
        in: query
        description: Dose number within series
        schema:
          type: integer
      - name: identifier
        in: query
        description: Business identifier
        schema:
          type: string
      - name: performer
        in: query
        description: The practitioner or organization who played a role in the vaccination
        schema:
          type: string
      - name: reaction
        in: query
        description: Additional information on reaction
        schema:
          type: string
      - name: lot-number
        in: query
        description: Vaccine Lot Number
        schema:
          type: string
      - name: status-reason
        in: query
        description: Reason why the vaccine was not administered
        schema:
          type: string
      - name: notgiven
        in: query
        description: Administrations which were not given
        schema:
          type: string
      - name: reason
        in: query
        description: Why immunization occurred
        schema:
          type: string
      - name: reason-not-given
        in: query
        description: Explanation of reason vaccination was not administered
        schema:
          type: string
      - name: reason-code
        in: query
        description: Reason why the vaccine was administered
        schema:
          type: string
      - name: requester
        in: query
        description: The practitioner who ordered the vaccination
        schema:
          type: string
      - name: manufacturer
        in: query
        description: Vaccine Manufacturer
        schema:
          type: string
      - name: target-disease
        in: query
        description: The target disease the dose is being administered against
        schema:
          type: string
      - name: patient
        in: query
        description: The patient for the vaccination record
        schema:
          type: string
      - name: series
        in: query
        description: The series being followed by the provider
        schema:
          type: string
      - name: vaccine-code
        in: query
        description: Vaccine Product Administered
        schema:
          type: string
      - name: reason-reference
        in: query
        description: Why immunization occurred
        schema:
          type: string
      - name: location
        in: query
        description: The service delivery location or facility in which the vaccine
          was / was to be administered
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: reaction-date
        in: query
        description: When reaction started
        schema:
          type: string
          format: date
      - name: status
        in: query
        description: Immunization event status
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Immunization'
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
    put:
      tags:
        - Immunization
      description: 'The conditional update interaction is used to update an existing Immunization based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunization Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: date
          in: query
          description: 'Vaccination  (non)-Administration Date. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: dose-sequence
          in: query
          description: Dose number within series
          schema:
            type: integer
        - name: identifier
          in: query
          description: Business identifier
          schema:
            type: string
        - name: location
          in: query
          description: The service delivery location or facility in which the vaccine was / was to be administered
          schema:
            type: string
        - name: lot-number
          in: query
          description: Vaccine Lot Number
          schema:
            type: string
        - name: manufacturer
          in: query
          description: Vaccine Manufacturer
          schema:
            type: string
        - name: notgiven
          in: query
          description: Administrations which were not given
          schema:
            type: string
        - name: patient
          in: query
          description: The patient for the vaccination record
          schema:
            type: string
        - name: performer
          in: query
          description: The practitioner who administered the vaccination
          schema:
            type: string
        - name: reaction
          in: query
          description: Additional information on reaction
          schema:
            type: string
        - name: reaction-date
          in: query
          description: 'When reaction started. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: reason
          in: query
          description: Why immunization occurred
          schema:
            type: string
        - name: reason-not-given
          in: query
          description: Explanation of reason vaccination was not administered
          schema:
            type: string
        - name: requester
          in: query
          description: The practitioner who ordered the vaccination
          schema:
            type: string
        - name: status
          in: query
          description: Immunization event status
          schema:
            type: string
        - name: vaccine-code
          in: query
          description: Vaccine Product Administered
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Immunization'
        required: true
      responses:
        '200':
          description: Immunization Updated.
          content: {}
        '201':
          description: Immunization Created.
          content: {}
        '400':
          description: Immunization could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
    post:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Immunization'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Immunization could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Immunization not found.
          content: {}
        '422':
          description: The Immunization resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
    delete:
      tags:
        - Immunization
      description: 'The conditional delete interaction allows a client to delete Immunization/Immunizations  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunization Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: date
          in: query
          description: 'Vaccination  (non)-Administration Date. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: dose-sequence
          in: query
          description: Dose number within series
          schema:
            type: integer
        - name: identifier
          in: query
          description: Business identifier
          schema:
            type: string
        - name: location
          in: query
          description: The service delivery location or facility in which the vaccine was / was to be administered
          schema:
            type: string
        - name: lot-number
          in: query
          description: Vaccine Lot Number
          schema:
            type: string
        - name: manufacturer
          in: query
          description: Vaccine Manufacturer
          schema:
            type: string
        - name: notgiven
          in: query
          description: Administrations which were not given
          schema:
            type: string
        - name: patient
          in: query
          description: The patient for the vaccination record
          schema:
            type: string
        - name: performer
          in: query
          description: The practitioner who administered the vaccination
          schema:
            type: string
        - name: reaction
          in: query
          description: Additional information on reaction
          schema:
            type: string
        - name: reaction-date
          in: query
          description: 'When reaction started. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: reason
          in: query
          description: Why immunization occurred
          schema:
            type: string
        - name: reason-not-given
          in: query
          description: Explanation of reason vaccination was not administered
          schema:
            type: string
        - name: requester
          in: query
          description: The practitioner who ordered the vaccination
          schema:
            type: string
        - name: status
          in: query
          description: Immunization event status
          schema:
            type: string
        - name: vaccine-code
          in: query
          description: Vaccine Product Administered
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
            default: 'Bearer [access_token]'
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Immunization not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}:
    get:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Immunization'
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
    put:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Immunization'
        required: false
      responses:
        '200':
          description: Immunization Updated.
          content: {}
        '201':
          description: Immunization Created.
          content: {}
        '400':
          description: Immunization could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
    delete:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Immunization not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/_history:
    get:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/_history:
    get:
      tags:
      - Immunization
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/_history/{vid}:
    get:
      tags:
      - Immunization
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Immunization'
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/$meta:
    get:
      tags:
        - Immunization
      description: 'Retrieves a summary of the profiles, tags, and security labels for Immunizations.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunizations Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for Immunization'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/$meta:
    get:
      tags:
        - Immunization
      description: 'Retrieves a summary of the profiles, tags, and security labels for given Immunization resource.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunization Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/_history/{vid}/$meta:
    get:
      tags:
        - Immunization
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the Immunization.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunization Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/{type}:
    get:
      tags:
        - Immunization
      description: 'Search the specified resource type in Immunization compartment.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular Immunization
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/_search:
    post:
      tags:
        - Immunization
      description: 'This interaction searches a set of Immunizations based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Immunizations Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: date
          in: query
          description: 'Vaccination  (non)-Administration Date. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: dose-sequence
          in: query
          description: Dose number within series
          schema:
            type: integer
        - name: identifier
          in: query
          description: Business identifier
          schema:
            type: string
        - name: location
          in: query
          description: The service delivery location or facility in which the vaccine was / was to be administered
          schema:
            type: string
        - name: lot-number
          in: query
          description: Vaccine Lot Number
          schema:
            type: string
        - name: manufacturer
          in: query
          description: Vaccine Manufacturer
          schema:
            type: string
        - name: notgiven
          in: query
          description: Administrations which were not given
          schema:
            type: string
        - name: patient
          in: query
          description: The patient for the vaccination record
          schema:
            type: string
        - name: performer
          in: query
          description: The practitioner who administered the vaccination
          schema:
            type: string
        - name: reaction
          in: query
          description: Additional information on reaction
          schema:
            type: string
        - name: reaction-date
          in: query
          description: 'When reaction started. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: reason
          in: query
          description: Why immunization occurred
          schema:
            type: string
        - name: reason-not-given
          in: query
          description: Explanation of reason vaccination was not administered
          schema:
            type: string
        - name: requester
          in: query
          description: The practitioner who ordered the vaccination
          schema:
            type: string
        - name: status
          in: query
          description: Immunization event status
          schema:
            type: string
        - name: vaccine-code
          in: query
          description: Vaccine Product Administered
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                date:
                  type: string
                  description: 'Vaccination  (non)-Administration Date. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                dose-sequence:
                  type: integer
                  description: Dose number within series
                identifier:
                  type: string
                  description: Business identifier
                location:
                  type: string
                  description: The service delivery location or facility in which the vaccine was / was to be administered
                lot-number:
                  type: string
                  description: Vaccine Lot Number
                manufacturer:
                  type: string
                  description: Vaccine Manufacturer
                notgiven:
                  type: string
                  description: Administrations which were not given
                patient:
                  type: string
                  description: The patient for the vaccination record
                performer:
                  type: string
                  description: The practitioner who administered the vaccination
                reaction:
                  type: string
                  description: Additional information on reaction
                reaction-date:
                  type: string
                  description: 'When reaction started. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                reason:
                  type: string
                  description: Why immunization occurred
                reason-not-given:
                  type: string
                  description: Explanation of reason vaccination was not administered
                requester:
                  type: string
                  description: The practitioner who ordered the vaccination
                status:
                  type: string
                  description: Immunization event status
                vaccine-code:
                  type: string
                  description: Vaccine Product Administered
      responses:
        '200':
          description: Immunization bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Immunization'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/$meta-add:
    post:
      tags:
        - Immunization
      description: 'Add a metadata info Immunization with specified id.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Add Immunization metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Immunization could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Immunization not found.
          content: {}
        '422':
          description: The Immunization resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
  /Immunization/{id}/_history/{vid}/$meta-add:
    post:
      tags:
        - Immunization
      description: 'Add metadata info to specified Immunization resource.<p><a href = ''https://www.hl7.org/fhir/immunization.html''>FHIR documentation for Immunization.</a></p>'
      operationId: Add Immunization Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Immunization could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Immunization not found.
          content: {}
        '422':
          description: The Immunization resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Immunization.read
            - patient/Immunization.write
components:
  schemas:
    Immunization:
      required:
      - doseQuantity
      - education
      - encounter
      - expirationDate
      - fundingSource
      - id
      - identifier
      - isSubpotent
      - location
      - lotNumber
      - manufacturer
      - meta
      - note
      - occurrenceDateTime
      - patient
      - performer
      - primarySource
      - programEligibility
      - reasonCode
      - resourceType
      - route
      - site
      - status
      - text
      - vaccineCode
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        vaccineCode:
          required:
          - coding
          - text
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
            text:
              minLength: 1
              type: string
        patient:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        encounter:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        occurrenceDateTime:
          minLength: 1
          type: string
        primarySource:
          type: boolean
        location:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        manufacturer:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        lotNumber:
          minLength: 1
          type: string
        expirationDate:
          minLength: 1
          type: string
        site:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        route:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        doseQuantity:
          required:
          - code
          - system
          - value
          type: object
          properties:
            value:
              type: number
            system:
              minLength: 1
              type: string
            code:
              minLength: 1
              type: string
        performer:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              function:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
              actor:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        note:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - text
            type: object
            properties:
              text:
                minLength: 1
                type: string
        reasonCode:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
        isSubpotent:
          type: boolean
        education:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - documentType
            - presentationDate
            - publicationDate
            type: object
            properties:
              documentType:
                minLength: 1
                type: string
              publicationDate:
                minLength: 1
                type: string
              presentationDate:
                minLength: 1
                type: string
        programEligibility:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
        fundingSource:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/Immunization.read: Read permissions for Immunization demographics.
            patient/Immunization.write: Write permissions for Immunization demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Immunization.read: Read permissions for Immunization demographics.
            patient/Immunization.write: Write permissions for Immunization demographics.
