openapi: 3.0.1
info:
  title: HL7® FHIR® MedicationAdministration resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
  - name: MedicationAdministration
paths:
  /MedicationAdministration:
    get:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: >-
            Only return resources which were last updated as specified by the
            given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ).
            The prefixes >, >=, <= and < may be used on the parameter value.
          schema:
            type: string
            format: date
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _text
          in: query
          description: >-
            Search the contents of the resource's narrative using a fulltext
            search
          schema:
            type: string
        - name: _language
          in: query
          description: The language of the resource
          schema:
            type: string
        - name: identifier
          in: query
          description: Return administrations with this external identifier
          schema:
            type: string
        - name: request
          in: query
          description: The identity of a request to list administrations from
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: performer
          in: query
          description: The identity of the individual who administered the medication
          schema:
            type: string
        - name: practitioner
          in: query
          description: Who administered substance
          schema:
            type: string
        - name: effectivetime
          in: query
          description: >-
            Date administration happened (or did not happen). The date parameter
            format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may
            be used on the parameter value.
          schema:
            type: string
            format: date
        - name: subject
          in: query
          description: The identity of the individual or group to list administrations for
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list administrations from
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication resource
          schema:
            type: string
        - name: reason-given
          in: query
          description: Reasons for administering the medication
          schema:
            type: string
        - name: wasnotgiven
          in: query
          description: Administrations that were not made
          schema:
            type: string
        - name: effective-time
          in: query
          description: Date administration happened (or did not happen)
          schema:
            type: string
            format: date
        - name: encounter
          in: query
          description: Return administrations that share this encounter
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list administrations  for
          schema:
            type: string
        - name: context
          in: query
          description: Return administrations that share this encounter or episode of care
          schema:
            type: string
        - name: reason-not-given
          in: query
          description: Reasons for not administering the medication
          schema:
            type: string
        - name: _id
          in: query
          description: The ID of the resource
          schema:
            type: string
        - name: device
          in: query
          description: Return administrations with this administration device identity
          schema:
            type: string
        - name: status
          in: query
          description: >-
            MedicationAdministration event status (for example one of
            active/paused/completed/nullified)
          schema:
            type: string
        - name: _format
          in: query
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationAdministration'
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
    put:
      tags:
        - MedicationAdministration
      description: >-
        The conditional update interaction is used to update an existing
        MedicationAdministration based on some identification criteria, rather
        than by logical id.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministration Conditional Update
      parameters:
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: >-
            Only return resources which were last updated as specified by the
            given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ).
            The prefixes >, >=, <= and < may be used on the parameter value.
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: >-
            Search the contents of the resource's narrative using a fulltext
            search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: device
          in: query
          description: Return administrations with this administration device identity
          schema:
            type: string
        - name: effectivetime
          in: query
          description: >-
            Date administration happened (or did not happen). The date parameter
            format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may
            be used on the parameter value.
          schema:
            type: string
            format: date
        - name: encounter
          in: query
          description: Return administrations that share this encounter
          schema:
            type: string
        - name: identifier
          in: query
          description: Return administrations with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list administrations  for
          schema:
            type: string
        - name: practitioner
          in: query
          description: Who administered substance
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list administrations from
          schema:
            type: string
        - name: status
          in: query
          description: >-
            MedicationAdministration event status (for example one of
            active/paused/completed/nullified)
          schema:
            type: string
        - name: wasnotgiven
          in: query
          description: Administrations that were not made
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationAdministration'
        required: true
      responses:
        '200':
          description: MedicationAdministration Updated.
          content: {}
        '201':
          description: MedicationAdministration Created.
          content: {}
        '400':
          description: >-
            MedicationAdministration could not be parsed or failed basic FHIR
            validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.write
    post:
      tags:
        - MedicationAdministration
      parameters:
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/MedicationAdministration'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: >-
            MedicationAdministration could not be parsed or failed basic FHIR
            validation rules
          content: {}
        '404':
          description: MedicationAdministration not found.
          content: {}
        '422':
          description: >-
            The MedicationAdministration resource violated applicable FHIR
            profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
    delete:
      tags:
        - MedicationAdministration
      description: >-
        The conditional delete interaction allows a client to delete
        MedicationAdministration/MedicationAdministrations  based on some
        selection criteria, rather than by a specific logical id.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministration Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: >-
            Only return resources which were last updated as specified by the
            given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ).
            The prefixes >, >=, <= and < may be used on the parameter value.
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: >-
            Search the contents of the resource's narrative using a fulltext
            search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: device
          in: query
          description: Return administrations with this administration device identity
          schema:
            type: string
        - name: effectivetime
          in: query
          description: >-
            Date administration happened (or did not happen). The date parameter
            format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may
            be used on the parameter value.
          schema:
            type: string
            format: date
        - name: encounter
          in: query
          description: Return administrations that share this encounter
          schema:
            type: string
        - name: identifier
          in: query
          description: Return administrations with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list administrations  for
          schema:
            type: string
        - name: practitioner
          in: query
          description: Who administered substance
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list administrations from
          schema:
            type: string
        - name: status
          in: query
          description: >-
            MedicationAdministration event status (for example one of
            active/paused/completed/nullified)
          schema:
            type: string
        - name: wasnotgiven
          in: query
          description: Administrations that were not made
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationAdministration not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.write
  '/MedicationAdministration/{id}':
    get:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationAdministration'
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
    put:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationAdministration'
        required: false
      responses:
        '200':
          description: MedicationAdministration Updated.
          content: {}
        '201':
          description: MedicationAdministration Created.
          content: {}
        '400':
          description: >-
            MedicationAdministration could not be parsed or failed basic FHIR
            validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
    delete:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationAdministration not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
  '/MedicationAdministration/{id}/_history':
    get:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: >-
            Specify an instant to only include resource versions that were
            created at or after the given instant in time. An instant in time is
            known at least to the second and always includes a time zone.
          schema:
            pattern: >-
              ([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
  /MedicationAdministration/_history:
    get:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: >-
            Specify an instant to only include resource versions that were
            created at or after the given instant in time. An instant in time is
            known at least to the second and always includes a time zone.
          schema:
            pattern: >-
              ([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?
            type: string
      responses:
        '200':
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
  '/MedicationAdministration/{id}/_history/{vid}':
    get:
      tags:
        - MedicationAdministration
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: >-
            Specify an instant to only include resource versions that were
            created at or after the given instant in time. An instant in time is
            known at least to the second and always includes a time zone.
          schema:
            pattern: >-
              ([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/MedicationAdministration'
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
            - patient/MedicationAdministration.write
  /MedicationAdministration/$meta:
    get:
      tags:
        - MedicationAdministration
      description: >-
        Retrieves a summary of the profiles, tags, and security labels for
        MedicationAdministrations.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministrations Metadata
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: >-
            List of all tags, profiles and security labels used for
            MedicationAdministration
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
  '/MedicationAdministration/{id}/$meta':
    get:
      tags:
        - MedicationAdministration
      description: >-
        Retrieves a summary of the profiles, tags, and security labels for given
        MedicationAdministration resource.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministration Metadata
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: >-
            List of all tags, profiles and security labels affixed to the
            nominated resource.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
  '/MedicationAdministration/{id}/_history/{vid}/$meta':
    get:
      tags:
        - MedicationAdministration
      description: >-
        Retrieves a summary of the profiles, tags, and security labels for given
        version of the MedicationAdministration.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministration Version based Metadata
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: >-
            List of all tags, profiles and security labels affixed to the
            nominated version of the resource.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
  '/MedicationAdministration/{id}/{type}':
    get:
      tags:
        - MedicationAdministration
      description: >-
        Search the specified resource type in MedicationAdministration
        compartment.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: ' Compartment Search'
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: >-
            The set of resources associated with a particular
            MedicationAdministration
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
  /MedicationAdministration/_search:
    post:
      tags:
        - MedicationAdministration
      description: >-
        This interaction searches a set of MedicationAdministrations based on
        some filter criteria. Search interactions take a series of parameters of
        name'='value pairs encoded as an application/x-www-form-urlencoded
        submission for a POST.<p><a href =
        'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: MedicationAdministrations Search using POST
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: >-
            Only return resources which were last updated as specified by the
            given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ).
            The prefixes >, >=, <= and < may be used on the parameter value.
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: >-
            Search the contents of the resource's narrative using a fulltext
            search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: device
          in: query
          description: Return administrations with this administration device identity
          schema:
            type: string
        - name: effectivetime
          in: query
          description: >-
            Date administration happened (or did not happen). The date parameter
            format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may
            be used on the parameter value.
          schema:
            type: string
            format: date
        - name: encounter
          in: query
          description: Return administrations that share this encounter
          schema:
            type: string
        - name: identifier
          in: query
          description: Return administrations with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list administrations  for
          schema:
            type: string
        - name: practitioner
          in: query
          description: Who administered substance
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list administrations from
          schema:
            type: string
        - name: status
          in: query
          description: >-
            MedicationAdministration event status (for example one of
            active/paused/completed/nullified)
          schema:
            type: string
        - name: wasnotgiven
          in: query
          description: Administrations that were not made
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: >-
                    Search the contents of the resource's data using a fulltext
                    search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: >-
                    Only return resources which were last updated as specified
                    by the given range. The date parameter format is
                    yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be
                    used on the parameter value.
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: >-
                    Search the contents of the resource's narrative using a
                    fulltext search
                code:
                  type: string
                  description: Return administrations of this medication code
                device:
                  type: string
                  description: >-
                    Return administrations with this administration device
                    identity
                effectivetime:
                  type: string
                  description: >-
                    Date administration happened (or did not happen). The date
                    parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >,
                    >=, <= and < may be used on the parameter value.
                  format: date
                encounter:
                  type: string
                  description: Return administrations that share this encounter
                identifier:
                  type: string
                  description: Return administrations with this external identifier
                medication:
                  type: string
                  description: Return administrations of this medication resource
                patient:
                  type: string
                  description: The identity of a patient to list administrations  for
                practitioner:
                  type: string
                  description: Who administered substance
                prescription:
                  type: string
                  description: The identity of a prescription to list administrations from
                status:
                  type: string
                  description: >-
                    MedicationAdministration event status (for example one of
                    active/paused/completed/nullified)
                wasnotgiven:
                  type: string
                  description: Administrations that were not made
      responses:
        '200':
          description: MedicationAdministration bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationAdministration'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.read
  '/MedicationAdministration/{id}/$meta-add':
    post:
      tags:
        - MedicationAdministration
      description: >-
        Add a metadata info MedicationAdministration with specified id.<p><a
        href = 'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: Add MedicationAdministration metadata
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: >-
            MedicationAdministration could not be parsed or failed basic FHIR
            validation rules
          content: {}
        '404':
          description: MedicationAdministration not found.
          content: {}
        '422':
          description: >-
            The MedicationAdministration resource violated applicable FHIR
            profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.write
  '/MedicationAdministration/{id}/_history/{vid}/$meta-add':
    post:
      tags:
        - MedicationAdministration
      description: >-
        Add metadata info to specified MedicationAdministration resource.<p><a
        href = 'https://www.hl7.org/fhir/medicationadministration.html'>FHIR
        documentation for MedicationAdministration.</a></p>
      operationId: Add MedicationAdministration Version based Metadata
      parameters:
        - name: Authorization
          in: header
          description: >-
            Specify access token for API in the given format: Bearer
            [access_token].
          schema:
            type: string
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The Accept request-header field can be used to specify certain media
            types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: >-
            MedicationAdministration could not be parsed or failed basic FHIR
            validation rules
          content: {}
        '404':
          description: MedicationAdministration not found.
          content: {}
        '422':
          description: >-
            The MedicationAdministration resource violated applicable FHIR
            profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationAdministration.write
components:
  schemas:
    MedicationAdministration:
      required:
        - dosage
        - effectiveTimePeriod
        - id
        - medicationReference
        - patient
        - practitioner
        - prescription
        - resourceType
        - status
        - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        identifier:
          minLength: 1
          type: string
        partOf:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        statusReason:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        category:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        medicationCodeableConcept:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        medication:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        subject:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        context:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        supportingInformation:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        effectivePeriod:
          required:
            - end
            - start
          type: object
          properties:
            start:
              minLength: 1
              type: string
            end:
              minLength: 1
              type: string
        performer:
          required:
            - function
            - actor
          properties:  
              function:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              actor:
                required:
                  - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        reasonCode:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        reasonReference:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        request:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        device:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        note:
          required:
            - authorReference
            - authorString
            - time
            - text
          properties: 
            authorReference:
              required:
                - reference
              type: object
              properties:
                reference:
                  minLength: 1
                  type: string
            authorString:
              minLength: 1
              type: string
            time:
              minLength: 1
              type: string
            text:
              minLength: 1
              type: string
        dosage:
          required:
            - text
            - site
            - route
            - method
            - rateratio
            - dose
          properties:
            text:
                minLength: 1
                type: string
            site:
              required:
                - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                      - code
                      - display
                      - system
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      display:
                        minLength: 1
                        type: string
            route:
              required:
                - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                      - code
                      - display
                      - system
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      display:
                        minLength: 1
                        type: string
            method:
              required:
                - coding
              type: object
              properties:
                coding:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  items:
                    required:
                      - code
                      - display
                      - system
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      display:
                        minLength: 1
                        type: string
            dose:
              required:
                - value
                - system
                - code
              type: object
              properties:
                value: 
                  minLength: 3
                  type: number
                system:
                  minLength: 1
                  type: string
                code:
                  minLength: 1
                  type: string
            rateRatio:
              required:
                - numerator
                - denominator
              type: object
              properties:
                numerator:
                  required:
                    - value
                    - comparator
                    - unit
                    - system
                    - code
                  type: object
                  properties:
                    value: 
                      minLength: 3
                      type: number
                    comparator:
                      minLength: 1
                      type: string
                    unit:
                      minLength: 1
                      type: string            
                    system:
                      minLength: 1
                      type: string 
                    code:
                      minLength: 1
                      type: string 
                denominator:
                  required:
                    - value
                    - comparator
                    - unit
                    - system
                    - code
                  type: object
                  properties:
                    value: 
                      minLength: 3
                      type: number
                    comparator:
                      minLength: 1
                      type: string
                    unit:
                      minLength: 1
                      type: string            
                    system:
                      minLength: 1
                      type: string 
                    code:
                      minLength: 1
                      type: string
            rateQuantity:
              required:
                - value
                - system
                - code
              type: object
              properties:
                value: 
                  minLength: 3
                  type: number
                system:
                  minLength: 1
                  type: string
                code:
                  minLength: 1
                  type: string
        eventHistory:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
      description: ''
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/MedicationAdministration.read: Read permissions for MedicationAdministration demographics.
            patient/MedicationAdministration.write: Write permissions for MedicationAdministration demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/MedicationAdministration.read: Read permissions for MedicationAdministration demographics.
            patient/MedicationAdministration.write: Write permissions for MedicationAdministration demographics.
