openapi: 3.0.1
info:
  title: HL7® FHIR® Observation resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Observation
paths:
  /Observation:
    get:
      tags:
      - Observation
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: date
        in: query
        description: Obtained date/time. If the obtained element is a period, a date
          that falls in the period
        schema:
          type: string
          format: date
      - name: combo-data-absent-reason
        in: query
        description: The reason why the expected value in the element Observation.value[x]
          or Observation.component.value[x] is missing.
        schema:
          type: string
      - name: component-code-component-value-concept
        in: query
        description: Both component code and one of the component value parameters
        schema:
          type: string
      - name: component-code-component-value-string
        in: query
        description: Both component code and one of the component value parameters
        schema:
          type: string
      - name: code
        in: query
        description: The code of the observation type
        schema:
          type: string
      - name: component-value-string
        in: query
        description: 'The value of the component observation, if the value is a string, and also searches in CodeableConcept.text'
        schema:
          type: string
      - name: combo-code-value-quantity
        in: query
        description: Code and quantity value parameter pair, including in components
        schema:
          type: string
      - name: component-data-absent-reason
        in: query
        description: The reason why the expected value in the element Observation.component.value[x]
          is missing.
        schema:
          type: string
      - name: subject
        in: query
        description: The subject that the observation is about
        schema:
          type: string
      - name: value-concept
        in: query
        description: The value of the observation, if the value is a CodeableConcept
        schema:
          type: string
      - name: value-date
        in: query
        description: The value of the observation, if the value is a date or period
          of time
        schema:
          type: string
          format: date
      - name: related-type
        in: query
        description: has-member | derived-from | sequel-to | replaces | qualified-by | interfered-by
        schema:
          type: string
      - name: component-code-component-value-quantity
        in: query
        description: Both component code and one of the component value parameters
        schema:
          type: string
      - name: related-target-related-type
        in: query
        description: Related Observations - search on related-type and related-target together
        schema:
            type: string
      - name: related-target
        in: query
        description: Resource that is related to this one
        schema:
          type: string
      - name: derived-from
        in: query
        description: Related measurements the observation is made from
        schema:
          type: string
      - name: focus
        in: query
        description: The focus of an observation when the focus is not the patient
          of record.
        schema:
          type: string
      - name: part-of
        in: query
        description: Part of referenced event
        schema:
          type: string
      - name: has-member
        in: query
        description: Related resource that belongs to the Observation group
        schema:
          type: string
      - name: code-value-string
        in: query
        description: Code and string value parameter pair
        schema:
          type: string
      - name: component-code-value-quantity
        in: query
        description: Component code and component quantity value parameter pair
        schema:
          type: string
      - name: based-on
        in: query
        description: Reference to the service request.
        schema:
          type: string
      - name: code-value-date
        in: query
        description: Code and date/time value parameter pair
        schema:
          type: string
      - name: patient
        in: query
        description: The subject that the observation is about (if patient)
        schema:
          type: string
      - name: specimen
        in: query
        description: Specimen used for this observation
        schema:
          type: string
      - name: code-value-quantity
        in: query
        description: Code and quantity value parameter pair
        schema:
          type: string
      - name: component-code
        in: query
        description: The component code of the observation type
        schema:
          type: string
      - name: combo-code-value-concept
        in: query
        description: Code and coded value parameter pair, including in components
        schema:
          type: string
      - name: value-string
        in: query
        description: The value of the observation, if the value is a string, and also
          searches in CodeableConcept.text
        schema:
          type: string
      - name: identifier
        in: query
        description: The unique id for a particular observation
        schema:
          type: string
      - name: performer
        in: query
        description: Who performed the observation
        schema:
          type: string
      - name: combo-code
        in: query
        description: The code of the observation type or component type
        schema:
          type: string
      - name: method
        in: query
        description: The method used for the observation
        schema:
          type: string
      - name: value-quantity
        in: query
        description: The value of the observation, if the value is a Quantity, or
          a SampledData (just search on the bounds of the values in sampled data)
        schema:
          type: integer
      - name: component-value-quantity
        in: query
        description: The value of the component observation, if the value is a Quantity,
          or a SampledData (just search on the bounds of the values in sampled data)
        schema:
          type: integer
      - name: data-absent-reason
        in: query
        description: The reason why the expected value in the element Observation.value[x]
          is missing.
        schema:
          type: string
      - name: combo-value-quantity
        in: query
        description: The value or component value of the observation, if the value
          is a Quantity, or a SampledData (just search on the bounds of the values
          in sampled data)
        schema:
          type: integer
      - name: encounter
        in: query
        description: Encounter related to the observation
        schema:
          type: string
      - name: code-value-concept
        in: query
        description: Code and coded value parameter pair
        schema:
          type: string
      - name: component-code-value-concept
        in: query
        description: Component code and component coded value parameter pair
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: component-value-concept
        in: query
        description: The value of the component observation, if the value is a CodeableConcept
        schema:
          type: string
      - name: category
        in: query
        description: The classification of the type of observation
        schema:
          type: string
      - name: device
        in: query
        description: The Device that generated the observation data.
        schema:
          type: string
      - name: combo-value-concept
        in: query
        description: The value or component value of the observation, if the value
          is a CodeableConcept
        schema:
          type: string
      - name: status
        in: query
        description: The status of the observation
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Observation'
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
    put:
      tags:
        - Observation
      description: 'The conditional update interaction is used to update an existing Observation based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observation Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: The classification of the type of observation
          schema:
            type: string
        - name: code
          in: query
          description: The code of the observation type
          schema:
            type: string
        - name: code-value-concept
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-date
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-quantity
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-string
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: component-code
          in: query
          description: The component code of the observation type
          schema:
            type: string
        - name: component-code-component-value-concept
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-quantity
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-string
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.component.value[x] is missing.'
          schema:
            type: string
        - name: component-value-concept
          in: query
          description: 'The value of the component observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: component-value-quantity
          in: query
          description: 'The value of the component observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: component-value-string
          in: query
          description: 'The value of the component observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
        - name: data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.value[x] is missing.'
          schema:
            type: string
        - name: date
          in: query
          description: 'Obtained date/time. If the obtained element is a period, a date that falls in the period. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: device
          in: query
          description: The Device that generated the observation data.
          schema:
            type: string
        - name: encounter
          in: query
          description: Healthcare event related to the observation
          schema:
            type: string
        - name: identifier
          in: query
          description: The unique id for a particular observation
          schema:
            type: string
        - name: patient
          in: query
          description: The subject that the observation is about (if patient)
          schema:
            type: string
        - name: performer
          in: query
          description: Who performed the observation
          schema:
            type: string
        - name: related-target
          in: query
          description: Resource that is related to this one
          schema:
            type: string
        - name: related-target-related-type
          in: query
          description: Related Observations - search on related-type and related-target together
          schema:
            type: string
        - name: related-type
          in: query
          description: has-member | derived-from | sequel-to | replaces | qualified-by | interfered-by
          schema:
            type: string
        - name: specimen
          in: query
          description: Specimen used for this observation
          schema:
            type: string
        - name: status
          in: query
          description: The status of the observation
          schema:
            type: string
        - name: subject
          in: query
          description: The subject that the observation is about
          schema:
            type: string
        - name: value-concept
          in: query
          description: 'The value of the observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: value-date
          in: query
          description: 'The value of the observation, if the value is a date or period of time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: value-quantity
          in: query
          description: 'The value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: value-string
          in: query
          description: 'The value of the observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Observation'
        required: true
      responses:
        '200':
          description: Observation Updated.
          content: {}
        '201':
          description: Observation Created.
          content: {}
        '400':
          description: Observation could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
    post:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Observation'
        required: false
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Observation could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Observation not found.
          content: {}
        '422':
          description: The Observation resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
    delete:
      tags:
        - Observation
      description: 'The conditional delete interaction allows a client to delete Observation/Observations  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observation Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: The classification of the type of observation
          schema:
            type: string
        - name: code
          in: query
          description: The code of the observation type
          schema:
            type: string
        - name: code-value-concept
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-date
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-quantity
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-string
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: component-code
          in: query
          description: The component code of the observation type
          schema:
            type: string
        - name: component-code-component-value-concept
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-quantity
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-string
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.component.value[x] is missing.'
          schema:
            type: string
        - name: component-value-concept
          in: query
          description: 'The value of the component observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: component-value-quantity
          in: query
          description: 'The value of the component observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: component-value-string
          in: query
          description: 'The value of the component observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
        - name: data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.value[x] is missing.'
          schema:
            type: string
        - name: date
          in: query
          description: 'Obtained date/time. If the obtained element is a period, a date that falls in the period. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: device
          in: query
          description: The Device that generated the observation data.
          schema:
            type: string
        - name: encounter
          in: query
          description: Healthcare event related to the observation
          schema:
            type: string
        - name: identifier
          in: query
          description: The unique id for a particular observation
          schema:
            type: string
        - name: patient
          in: query
          description: The subject that the observation is about (if patient)
          schema:
            type: string
        - name: performer
          in: query
          description: Who performed the observation
          schema:
            type: string
        - name: related-target
          in: query
          description: Resource that is related to this one
          schema:
            type: string
        - name: related-target-related-type
          in: query
          description: Related Observations - search on related-type and related-target together
          schema:
            type: string
        - name: related-type
          in: query
          description: has-member | derived-from | sequel-to | replaces | qualified-by | interfered-by
          schema:
            type: string
        - name: specimen
          in: query
          description: Specimen used for this observation
          schema:
            type: string
        - name: status
          in: query
          description: The status of the observation
          schema:
            type: string
        - name: subject
          in: query
          description: The subject that the observation is about
          schema:
            type: string
        - name: value-concept
          in: query
          description: 'The value of the observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: value-date
          in: query
          description: 'The value of the observation, if the value is a date or period of time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: value-quantity
          in: query
          description: 'The value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: value-string
          in: query
          description: 'The value of the observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Observation not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}:
    get:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Observation'
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
    put:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Observation'
        required: false
      responses:
        '200':
          description: Observation Updated.
          content: {}
        '201':
          description: Observation Created.
          content: {}
        '400':
          description: Observation could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
    delete:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Observation not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/_history:
    get:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/_history:
    get:
      tags:
      - Observation
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/_history/{vid}:
    get:
      tags:
      - Observation
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Observation'
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/$meta:
    get:
      tags:
        - Observation
      description: 'Retrieves a summary of the profiles, tags, and security labels for Observations.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observations Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for Observation'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/$meta:
    get:
      tags:
        - Observation
      description: 'Retrieves a summary of the profiles, tags, and security labels for given Observation resource.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observation Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/_history/{vid}/$meta:
    get:
      tags:
        - Observation
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the Observation.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observation Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
            default: 'Bearer [access_token]'
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/{type}:
    get:
      tags:
        - Observation
      description: 'Search the specified resource type in Observation compartment.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular Observation
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/_search:
    post:
      tags:
        - Observation
      description: 'This interaction searches a set of Observations based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Observations Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: +_lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). Two dates can be used to specify an interval. The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: The classification of the type of observation
          schema:
            type: string
        - name: code
          in: query
          description: The code of the observation type
          schema:
            type: string
        - name: code-value-concept
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-date
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-quantity
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: code-value-string
          in: query
          description: Both code and one of the value parameters
          schema:
            type: string
        - name: component-code
          in: query
          description: The component code of the observation type
          schema:
            type: string
        - name: component-code-component-value-concept
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-quantity
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-code-component-value-string
          in: query
          description: Both component code and one of the component value parameters
          schema:
            type: string
        - name: component-data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.component.value[x] is missing.'
          schema:
            type: string
        - name: component-value-concept
          in: query
          description: 'The value of the component observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: component-value-quantity
          in: query
          description: 'The value of the component observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: component-value-string
          in: query
          description: 'The value of the component observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
        - name: data-absent-reason
          in: query
          description: 'The reason why the expected value in the element Observation.value[x] is missing.'
          schema:
            type: string
        - name: date
          in: query
          description: 'Obtained date/time. If the obtained element is a period, a date that falls in the period. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: device
          in: query
          description: The Device that generated the observation data.
          schema:
            type: string
        - name: encounter
          in: query
          description: Healthcare event related to the observation
          schema:
            type: string
        - name: identifier
          in: query
          description: The unique id for a particular observation
          schema:
            type: string
        - name: patient
          in: query
          description: The subject that the observation is about (if patient)
          schema:
            type: string
        - name: performer
          in: query
          description: Who performed the observation
          schema:
            type: string
        - name: related-target
          in: query
          description: Resource that is related to this one
          schema:
            type: string
        - name: related-target-related-type
          in: query
          description: Related Observations - search on related-type and related-target together
          schema:
            type: string
        - name: related-type
          in: query
          description: has-member | derived-from | sequel-to | replaces | qualified-by | interfered-by
          schema:
            type: string
        - name: specimen
          in: query
          description: Specimen used for this observation
          schema:
            type: string
        - name: status
          in: query
          description: The status of the observation
          schema:
            type: string
        - name: subject
          in: query
          description: The subject that the observation is about
          schema:
            type: string
        - name: value-concept
          in: query
          description: 'The value of the observation, if the value is a CodeableConcept'
          schema:
            type: string
        - name: value-date
          in: query
          description: 'The value of the observation, if the value is a date or period of time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: value-quantity
          in: query
          description: 'The value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
          schema:
            type: integer
        - name: value-string
          in: query
          description: 'The value of the observation, if the value is a string, and also searches in CodeableConcept.text'
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                category:
                  type: string
                  description: The classification of the type of observation
                code:
                  type: string
                  description: The code of the observation type
                code-value-concept:
                  type: string
                  description: Both code and one of the value parameters
                code-value-date:
                  type: string
                  description: Both code and one of the value parameters
                code-value-quantity:
                  type: string
                  description: Both code and one of the value parameters
                code-value-string:
                  type: string
                  description: Both code and one of the value parameters
                component-code:
                  type: string
                  description: The component code of the observation type
                component-code-component-value-concept:
                  type: string
                  description: Both component code and one of the component value parameters
                component-code-component-value-quantity:
                  type: string
                  description: Both component code and one of the component value parameters
                component-code-component-value-string:
                  type: string
                  description: Both component code and one of the component value parameters
                component-data-absent-reason:
                  type: string
                  description: 'The reason why the expected value in the element Observation.component.value[x] is missing.'
                component-value-concept:
                  type: string
                  description: 'The value of the component observation, if the value is a CodeableConcept'
                component-value-quantity:
                  type: integer
                  description: 'The value of the component observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
                component-value-string:
                  type: string
                  description: 'The value of the component observation, if the value is a string, and also searches in CodeableConcept.text'
                data-absent-reason:
                  type: string
                  description: 'The reason why the expected value in the element Observation.value[x] is missing.'
                date:
                  type: string
                  description: 'Obtained date/time. If the obtained element is a period, a date that falls in the period. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                device:
                  type: string
                  description: The Device that generated the observation data.
                encounter:
                  type: string
                  description: Healthcare event related to the observation
                identifier:
                  type: string
                  description: The unique id for a particular observation
                patient:
                  type: string
                  description: The subject that the observation is about (if patient)
                performer:
                  type: string
                  description: Who performed the observation
                related-target:
                  type: string
                  description: Resource that is related to this one
                related-target-related-type:
                  type: string
                  description: Related Observations - search on related-type and related-target together
                related-type:
                  type: string
                  description: has-member | derived-from | sequel-to | replaces | qualified-by | interfered-by
                specimen:
                  type: string
                  description: Specimen used for this observation
                status:
                  type: string
                  description: The status of the observation
                subject:
                  type: string
                  description: The subject that the observation is about
                value-concept:
                  type: string
                  description: 'The value of the observation, if the value is a CodeableConcept'
                value-date:
                  type: string
                  description: 'The value of the observation, if the value is a date or period of time. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                value-quantity:
                  type: integer
                  description: 'The value of the observation, if the value is a Quantity, or a SampledData (just search on the bounds of the values in sampled data)'
                value-string:
                  type: string
                  description: 'The value of the observation, if the value is a string, and also searches in CodeableConcept.text'
      responses:
        '200':
          description: Observation bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Observation'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.read
            - patient/Observation.write
  /Observation/{id}/$meta-add:
    post:
      tags:
        - Observation
      description: 'Add a metadata info Observation with specified id.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Add Observation metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Observation could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Observation not found.
          content: {}
        '422':
          description: The Observation resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.write
  /Observation/{id}/_history/{vid}/$meta-add:
    post:
      tags:
        - Observation
      description: 'Add metadata info to specified Observation resource.<p><a href = ''https://www.hl7.org/fhir/observation.html''>FHIR documentation for Observation.</a></p>'
      operationId: Add Observation Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Observation could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Observation not found.
          content: {}
        '422':
          description: The Observation resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Observation.write
components:
  schemas:
    Observation:
      required:
      - category
      - code
      - effectiveDateTime
      - encounter
      - id
      - meta
      - resourceType
      - status
      - subject
      - text
      - valueQuantity
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        category:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        code:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        subject:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        encounter:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        effectiveDateTime:
          minLength: 1
          type: string
        valueQuantity:
          required:
          - code
          - system
          - unit
          - value
          type: object
          properties:
            value:
              type: number
            unit:
              minLength: 1
              type: string
            system:
              minLength: 1
              type: string
            code:
              minLength: 1
              type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/Observation.read: Read permissions for Observation demographics.
            patient/Observation.write: Write permissions for Observation demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Observation.read: Read permissions for Observation demographics.
            patient/Observation.write: Write permissions for Observation demographics.
