openapi: 3.0.1
info:
  title: HL7® FHIR® Patient resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Patient
paths:
  /Patient:
    get:
      tags:
      - Patient
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: birthdate
        in: query
        description: The patient's date of birth
        schema:
          type: string
          format: date
      - name: careprovider
        in: query
        description: 'Patient''s nominated care provider, could be a care manager, not the organization that manages the record'
        schema:
          type: string
      - name: deceased
        in: query
        description: This patient has been marked as deceased, or as a death date
          entered
        schema:
          type: string
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: gender
        in: query
        description: Gender of the patient
        schema:
          type: string
      - name: link
        in: query
        description: All patients linked to the given patient
        schema:
          type: string
      - name: language
        in: query
        description: Language code (irrespective of use value)
        schema:
          type: string
      - name: mothersMaidenName
        in: query
        description: Search by parent reference.
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: death-date
        in: query
        description: The date of death has been provided and satisfies this search
          value
        schema:
          type: string
          format: date
      - name: phonetic
        in: query
        description: A portion of either family or given name using some kind of phonetic
          matching algorithm
        schema:
          type: string
      - name: telecom
        in: query
        description: The value in any kind of telecom details of the patient
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: email
        in: query
        description: A value in an email contact
        schema:
          type: string
      - name: given
        in: query
        description: A portion of the given name of the patient
        schema:
          type: string
      - name: identifier
        in: query
        description: A patient identifier
        schema:
          type: string
      - name: gdaddresstype
        in: query
        description: SearchParameter for the freg type of gd-Addresses
        schema:
          type: string
      - name: address
        in: query
        description: A server defined search that may match any of the string fields
          in the Address, including line, city, district, state, country, postalCode,
          and/or text
        schema:
          type: string
      - name: race
        in: query
        description: Returns patients with a race extension matching the specified
          code.
        schema:
          type: string
      - name: general-practitioner
        in: query
        description: Patient's nominated general practitioner, not the organization
          that manages the record
        schema:
          type: string
      - name: sex
        in: query
        description: Search for Patients by their biological sex
        schema:
          type: string
      - name: addresscontenttype
        in: query
        description: SearchParameter for the content type of gd-Addresses
        schema:
          type: string
      - name: active
        in: query
        description: Whether the patient record is active
        schema:
          type: string
      - name: middlename
        in: query
        description: SearchParameter for the Norwegian middlename extension http://hl7.no/fhir/StructureDefinition/no-basis-middlename
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postalCode specified in an address
        schema:
          type: string
      - name: phone
        in: query
        description: A value in a phone contact
        schema:
          type: string
      - name: animal-species
        in: query
        description: The species for animal patients
        schema:
          type: string
      - name: animal-breed
        in: query
        description: The breed for animal patients
        schema:
          type: string
      - name: organization
        in: query
        description: The organization that is the custodian of the patient record
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: name
        in: query
        description: A server defined search that may match any of the string fields
          in the HumanName, including family, give, prefix, suffix, suffix, and/or
          text
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: family
        in: query
        description: A portion of the family name of the patient
        schema:
          type: string
      - name: eyecolour
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
    put:
      tags:
        - Patient
      description: 'The conditional update interaction is used to update an existing Patient based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patient Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: active
          in: query
          description: Whether the patient record is active
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part of the patient
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: animal-breed
          in: query
          description: The breed for animal patients
          schema:
            type: string
        - name: animal-species
          in: query
          description: The species for animal patients
          schema:
            type: string
        - name: birthdate
          in: query
          description: 'The patient''s date of birth. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: careprovider
          in: query
          description: 'Patient''s nominated care provider, could be a care manager, not the organization that manages the record'
          schema:
            type: string
        - name: death-date
          in: query
          description: 'The date of death has been provided and satisfies this search value. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: deceased
          in: query
          description: 'This patient has been marked as deceased, or as a death date entered'
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name of the patient
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the patient
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name of the patient
          schema:
            type: string
        - name: identifier
          in: query
          description: A patient identifier
          schema:
            type: string
        - name: language
          in: query
          description: Language code (irrespective of use value)
          schema:
            type: string
        - name: link
          in: query
          description: All patients linked to the given patient
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name of the patient
          schema:
            type: string
        - name: organization
          in: query
          description: The organization at which this person is a patient
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of telecom details of the patient
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '200':
          description: Patient Updated.
          content: {}
        '201':
          description: Patient Created.
          content: {}
        '400':
          description: Patient could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
    post:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Patient could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Patient not found.
          content: {}
        '422':
          description: The Patient resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
    delete:
      tags:
        - Patient
      description: 'The conditional delete interaction allows a client to delete Patient/Patients  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patient Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: active
          in: query
          description: Whether the patient record is active
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part of the patient
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: animal-breed
          in: query
          description: The breed for animal patients
          schema:
            type: string
        - name: animal-species
          in: query
          description: The species for animal patients
          schema:
            type: string
        - name: birthdate
          in: query
          description: 'The patient''s date of birth. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: careprovider
          in: query
          description: 'Patient''s nominated care provider, could be a care manager, not the organization that manages the record'
          schema:
            type: string
        - name: death-date
          in: query
          description: 'The date of death has been provided and satisfies this search value. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: deceased
          in: query
          description: 'This patient has been marked as deceased, or as a death date entered'
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name of the patient
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the patient
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name of the patient
          schema:
            type: string
        - name: identifier
          in: query
          description: A patient identifier
          schema:
            type: string
        - name: language
          in: query
          description: Language code (irrespective of use value)
          schema:
            type: string
        - name: link
          in: query
          description: All patients linked to the given patient
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name of the patient
          schema:
            type: string
        - name: organization
          in: query
          description: The organization at which this person is a patient
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of telecom details of the patient
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Patient not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{id}:
    get:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Patient'
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
    put:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '200':
          description: Patient Updated.
          content: {}
        '201':
          description: Patient Created.
          content: {}
        '400':
          description: Patient could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
    delete:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Patient not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{id}/_history:
    get:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/_history:
    get:
      tags:
      - Patient
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{id}/_history/{vid}:
    get:
      tags:
      - Patient
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Patient'
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/$meta:
    get:
      tags:
        - Patient
      description: 'Retrieves a summary of the profiles, tags, and security labels for Patients.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patients Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for Patient'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{pid}/$meta:
    get:
      tags:
        - Patient
      description: 'Retrieves a summary of the profiles, tags, and security labels for given Patient resource.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patient Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: pid
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{pid}/_history/{vid}/$meta:
    get:
      tags:
        - Patient
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the Patient.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patient Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: pid
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{pid}/{type}:
    get:
      tags:
        - Patient
      description: 'Search the specified resource type in Patient compartment.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: pid
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular Patient
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/_search:
    post:
      tags:
        - Patient
      description: 'This interaction searches a set of Patients based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Patients Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: active
          in: query
          description: Whether the patient record is active
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part of the patient
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: animal-breed
          in: query
          description: The breed for animal patients
          schema:
            type: string
        - name: animal-species
          in: query
          description: The species for animal patients
          schema:
            type: string
        - name: birthdate
          in: query
          description: 'The patient''s date of birth. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: careprovider
          in: query
          description: 'Patient''s nominated care provider, could be a care manager, not the organization that manages the record'
          schema:
            type: string
        - name: death-date
          in: query
          description: 'The date of death has been provided and satisfies this search value. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: deceased
          in: query
          description: 'This patient has been marked as deceased, or as a death date entered'
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name of the patient
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the patient
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name of the patient
          schema:
            type: string
        - name: identifier
          in: query
          description: A patient identifier
          schema:
            type: string
        - name: language
          in: query
          description: Language code (irrespective of use value)
          schema:
            type: string
        - name: link
          in: query
          description: All patients linked to the given patient
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name of the patient
          schema:
            type: string
        - name: organization
          in: query
          description: The organization at which this person is a patient
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of telecom details of the patient
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                active:
                  type: string
                  description: Whether the patient record is active
                address:
                  type: string
                  description: An address in any kind of address/part of the patient
                address-city:
                  type: string
                  description: A city specified in an address
                address-country:
                  type: string
                  description: A country specified in an address
                address-postalcode:
                  type: string
                  description: A postalCode specified in an address
                address-state:
                  type: string
                  description: A state specified in an address
                address-use:
                  type: string
                  description: A use code specified in an address
                animal-breed:
                  type: string
                  description: The breed for animal patients
                animal-species:
                  type: string
                  description: The species for animal patients
                birthdate:
                  type: string
                  description: 'The patient''s date of birth. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                careprovider:
                  type: string
                  description: 'Patient''s nominated care provider, could be a care manager, not the organization that manages the record'
                death-date:
                  type: string
                  description: 'The date of death has been provided and satisfies this search value. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                deceased:
                  type: string
                  description: 'This patient has been marked as deceased, or as a death date entered'
                email:
                  type: string
                  description: A value in an email contact
                family:
                  type: string
                  description: A portion of the family name of the patient
                gender:
                  type: string
                  description: Gender of the patient
                given:
                  type: string
                  description: A portion of the given name of the patient
                identifier:
                  type: string
                  description: A patient identifier
                language:
                  type: string
                  description: Language code (irrespective of use value)
                link:
                  type: string
                  description: All patients linked to the given patient
                name:
                  type: string
                  description: A portion of either family or given name of the patient
                organization:
                  type: string
                  description: The organization at which this person is a patient
                phone:
                  type: string
                  description: A value in a phone contact
                phonetic:
                  type: string
                  description: A portion of either family or given name using some kind of phonetic matching algorithm
                telecom:
                  type: string
                  description: The value in any kind of telecom details of the patient
      responses:
        '200':
          description: Patient bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{pid}/$meta-add:
    post:
      tags:
        - Patient
      description: 'Add a metadata info Patient with specified id.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Add Patient metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: pid
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Patient could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Patient not found.
          content: {}
        '422':
          description: The Patient resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.write
  /Patient/{pid}/_history/{vid}/$meta-add:
    post:
      tags:
        - Patient
      description: 'Add metadata info to specified Patient resource.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Add Patient Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: pid
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Patient'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Patient could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Patient not found.
          content: {}
        '422':
          description: The Patient resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/$everything:
    get:
      tags:
        - Patient
      description: 'Returns all the information related to Patient resource.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Fetch Patients Record
      parameters:
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
        - name: start
          in: query
          description: 'The start date of care dates range. All records relating to care provided in a given date range will be returned. If no date is provided, all records are in scope.'
          schema:
            pattern: '[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?'
            type: string
        - name: end
          in: query
          description: 'The end date of care dates range. All records relating to care provided in a given date range will be returned. If no date is provided, all records are in scope.'
          schema:
            pattern: '[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?'
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: Return all the information related to patient described in the resource on which this operation is invoked.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
  /Patient/{pid}/$everything:
    get:
      tags:
        - Patient
      description: 'Returns all the information related to a specific Patient resource.<p><a href = ''https://www.hl7.org/fhir/patient.html''>FHIR documentation for Patient.</a></p>'
      operationId: Fetch Patient Record
      parameters:
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
        - name: start
          in: query
          description: 'The start date of care dates range. All records relating to care provided in a given date range will be returned. If no date is provided, all records are in scope.'
          schema:
            pattern: '[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?'
            type: string
        - name: end
          in: query
          description: 'The end date of care dates range. All records relating to care provided in a given date range will be returned. If no date is provided, all records are in scope.'
          schema:
            pattern: '[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?'
            type: string
        - name: pid
          in: path
          description: The logical resource id associated with the Patient.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: List of all tags affixed to the nominated version of the resource.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Patient.read
            - patient/Patient.write
components:
  schemas:
    Patient:
      required:
      - active
      - contact
      - gender
      - id
      - identifier
      - link
      - managingOrganization
      - meta
      - name
      - photo
      - resourceType
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - use
            - value
            type: object
            properties:
              use:
                minLength: 1
                type: string
              type:
                required:
                - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        active:
          type: boolean
        name:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - family
            - use
            type: object
            properties:
              use:
                minLength: 1
                type: string
              family:
                minLength: 1
                type: string
              given:
                type: array
                items:
                  type: object
                  properties: {}
        gender:
          minLength: 1
          type: string
        photo:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - contentType
            - data
            type: object
            properties:
              contentType:
                minLength: 1
                type: string
              data:
                minLength: 1
                type: string
        contact:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              relationship:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      minItems: 1
                      uniqueItems: true
                      type: array
                      items:
                        required:
                        - code
                        - system
                        type: object
                        properties:
                          system:
                            minLength: 1
                            type: string
                          code:
                            minLength: 1
                            type: string
              organization:
                required:
                - display
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        managingOrganization:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        link:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - type
            type: object
            properties:
              other:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
              type:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/Patient.read: Read permissions for Patient demographics.
            patient/Patient.write: Write permissions for Patient demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Patient.read: Read permissions for Patient demographics.
            patient/Patient.write: Write permissions for Patient demographics.
