openapi: 3.0.1
info:
  title: HL7® FHIR® Practitioner resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: Practitioner
paths:
  /Practitioner:
    get:
      tags:
      - Practitioner
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
        schema:
          type: string
          format: date
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: location
        in: query
        description: One of the locations at which this practitioner provides care
        schema:
          type: string
      - name: given
        in: query
        description: A portion of the given name
        schema:
          type: string
      - name: identifier
        in: query
        description: A practitioner's Identifier
        schema:
          type: string
      - name: gdaddresstype
        in: query
        description: SearchParameter for the freg type of gd-Addresses
        schema:
          type: string
      - name: address
        in: query
        description: A server defined search that may match any of the string fields
          in the Address, including line, city, district, state, country, postalCode,
          and/or text
        schema:
          type: string
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: gender
        in: query
        description: Gender of the practitioner
        schema:
          type: string
      - name: addresscontenttype
        in: query
        description: SearchParameter for the content type of gd-Addresses
        schema:
          type: string
      - name: active
        in: query
        description: Whether the practitioner record is active
        schema:
          type: string
      - name: middlename
        in: query
        description: SearchParameter for the Norwegian middlename extension http://hl7.no/fhir/StructureDefinition/no-basis-middlename
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postalCode specified in an address
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: phonetic
        in: query
        description: A portion of either family or given name using some kind of phonetic
          matching algorithm
        schema:
          type: string
      - name: phone
        in: query
        description: A value in a phone contact
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: name
        in: query
        description: A server defined search that may match any of the string fields
          in the HumanName, including family, give, prefix, suffix, suffix, and/or
          text
        schema:
          type: string
      - name: specialty
        in: query
        description: The practitioner has this specialty at an organization
        schema:
          type: string
      - name: role
        in: query
        description: The practitioner can perform this role at for the organization
        schema:
          type: string
      - name: organization
        in: query
        description: The identity of the organization the practitioner represents / acts on behalf of
        schema:
          type: string
      - name: telecom
        in: query
        description: The value in any kind of contact
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: communication
        in: query
        description: One of the languages that the practitioner can communicate with
        schema:
          type: string
      - name: family
        in: query
        description: A portion of the family name
        schema:
          type: string
      - name: email
        in: query
        description: A value in an email contact
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Practitioner'
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
    put:
      tags:
        - Practitioner
      description: 'The conditional update interaction is used to update an existing Practitioner based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioner Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: communication
          in: query
          description: One of the languages that the practitioner can communicate with
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the practitioner
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name
          schema:
            type: string
        - name: identifier
          in: query
          description: A practitioner's Identifier
          schema:
            type: string
        - name: location
          in: query
          description: One of the locations at which this practitioner provides care
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name
          schema:
            type: string
        - name: organization
          in: query
          description: The identity of the organization the practitioner represents / acts on behalf of
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: role
          in: query
          description: The practitioner can perform this role at for the organization
          schema:
            type: string
        - name: specialty
          in: query
          description: The practitioner has this specialty at an organization
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of contact
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Practitioner'
        required: true
      responses:
        '200':
          description: Practitioner Updated.
          content: {}
        '201':
          description: Practitioner Created.
          content: {}
        '400':
          description: Practitioner could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
    post:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Practitioner'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Practitioner could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Practitioner not found.
          content: {}
        '422':
          description: The Practitioner resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
    delete:
      tags:
        - Practitioner
      description: 'The conditional delete interaction allows a client to delete Practitioner/Practitioners  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioner Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: communication
          in: query
          description: One of the languages that the practitioner can communicate with
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the practitioner
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name
          schema:
            type: string
        - name: identifier
          in: query
          description: A practitioner's Identifier
          schema:
            type: string
        - name: location
          in: query
          description: One of the locations at which this practitioner provides care
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name
          schema:
            type: string
        - name: organization
          in: query
          description: The identity of the organization the practitioner represents / acts on behalf of
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: role
          in: query
          description: The practitioner can perform this role at for the organization
          schema:
            type: string
        - name: specialty
          in: query
          description: The practitioner has this specialty at an organization
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of contact
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Practitioner not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}:
    get:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Practitioner'
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
    put:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Practitioner'
        required: true
      responses:
        '200':
          description: Practitioner Updated.
          content: {}
        '201':
          description: Practitioner Created.
          content: {}
        '400':
          description: Practitioner could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
    delete:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Practitioner not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/_history:
    get:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/_history:
    get:
      tags:
      - Practitioner
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/_history/{vid}:
    get:
      tags:
      - Practitioner
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Practitioner'
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/$meta:
    get:
      tags:
        - Practitioner
      description: 'Retrieves a summary of the profiles, tags, and security labels for Practitioners.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioners Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for Practitioner'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/$meta:
    get:
      tags:
        - Practitioner
      description: 'Retrieves a summary of the profiles, tags, and security labels for given Practitioner resource.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioner Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/_history/{vid}/$meta:
    get:
      tags:
        - Practitioner
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the Practitioner.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioner Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/{type}:
    get:
      tags:
        - Practitioner
      description: 'Search the specified resource type in Practitioner compartment.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular Practitioner
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/_search:
    post:
      tags:
        - Practitioner
      description: 'This interaction searches a set of Practitioners based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Practitioners Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: address
          in: query
          description: An address in any kind of address/part
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          schema:
            type: string
        - name: communication
          in: query
          description: One of the languages that the practitioner can communicate with
          schema:
            type: string
        - name: email
          in: query
          description: A value in an email contact
          schema:
            type: string
        - name: family
          in: query
          description: A portion of the family name
          schema:
            type: string
        - name: gender
          in: query
          description: Gender of the practitioner
          schema:
            type: string
        - name: given
          in: query
          description: A portion of the given name
          schema:
            type: string
        - name: identifier
          in: query
          description: A practitioner's Identifier
          schema:
            type: string
        - name: location
          in: query
          description: One of the locations at which this practitioner provides care
          schema:
            type: string
        - name: name
          in: query
          description: A portion of either family or given name
          schema:
            type: string
        - name: organization
          in: query
          description: The identity of the organization the practitioner represents / acts on behalf of
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          schema:
            type: string
        - name: phonetic
          in: query
          description: A portion of either family or given name using some kind of phonetic matching algorithm
          schema:
            type: string
        - name: role
          in: query
          description: The practitioner can perform this role at for the organization
          schema:
            type: string
        - name: specialty
          in: query
          description: The practitioner has this specialty at an organization
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of contact
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                address:
                  type: string
                  description: An address in any kind of address/part
                address-city:
                  type: string
                  description: A city specified in an address
                address-country:
                  type: string
                  description: A country specified in an address
                address-postalcode:
                  type: string
                  description: A postalCode specified in an address
                address-state:
                  type: string
                  description: A state specified in an address
                address-use:
                  type: string
                  description: A use code specified in an address
                communication:
                  type: string
                  description: One of the languages that the practitioner can communicate with
                email:
                  type: string
                  description: A value in an email contact
                family:
                  type: string
                  description: A portion of the family name
                gender:
                  type: string
                  description: Gender of the practitioner
                given:
                  type: string
                  description: A portion of the given name
                identifier:
                  type: string
                  description: A practitioner's Identifier
                location:
                  type: string
                  description: One of the locations at which this practitioner provides care
                name:
                  type: string
                  description: A portion of either family or given name
                organization:
                  type: string
                  description: The identity of the organization the practitioner represents / acts on behalf of
                phone:
                  type: string
                  description: A value in a phone contact
                phonetic:
                  type: string
                  description: A portion of either family or given name using some kind of phonetic matching algorithm
                role:
                  type: string
                  description: The practitioner can perform this role at for the organization
                specialty:
                  type: string
                  description: The practitioner has this specialty at an organization
                telecom:
                  type: string
                  description: The value in any kind of contact
      responses:
        '200':
          description: Practitioner bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Practitioner'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/$meta-add:
    post:
      tags:
        - Practitioner
      description: 'Add a metadata info Practitioner with specified id.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Add Practitioner metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Practitioner could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Practitioner not found.
          content: {}
        '422':
          description: The Practitioner resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
  /Practitioner/{id}/_history/{vid}/$meta-add:
    post:
      tags:
        - Practitioner
      description: 'Add metadata info to specified Practitioner resource.<p><a href = ''https://www.hl7.org/fhir/practitioner.html''>FHIR documentation for Practitioner.</a></p>'
      operationId: Add Practitioner Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Practitioner could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Practitioner not found.
          content: {}
        '422':
          description: The Practitioner resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Practitioner.read
            - patient/Practitioner.write
components:
  schemas:
    Practitioner:
      required:
      - active
      - address
      - id
      - identifier
      - meta
      - name
      - qualification
      - resourceType
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        active:
          type: boolean
        name:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - family
            type: object
            properties:
              family:
                minLength: 1
                type: string
              given:
                type: array
                items:
                  type: object
                  properties: {}
              prefix:
                type: array
                items:
                  type: object
                  properties: {}
        address:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - city
            - postalCode
            - state
            - use
            type: object
            properties:
              use:
                minLength: 1
                type: string
              line:
                type: array
                items:
                  type: object
                  properties: {}
              city:
                minLength: 1
                type: string
              state:
                minLength: 1
                type: string
              postalCode:
                minLength: 1
                type: string
        qualification:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              identifier:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - system
                  - value
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    value:
                      minLength: 1
                      type: string
              code:
                required:
                - coding
                - text
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - code
                      - display
                      - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
                  text:
                    minLength: 1
                    type: string
              period:
                required:
                - start
                type: object
                properties:
                  start:
                    minLength: 1
                    type: string
              issuer:
                required:
                - display
                type: object
                properties:
                  display:
                    minLength: 1
                    type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/Practitioner.read: Read permissions for Practitioner demographics.
            patient/Practitioner.write: Write permissions for Practitioner demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Practitioner.read: Read permissions for Practitioner demographics.
            patient/Practitioner.write: Write permissions for Practitioner demographics.
