openapi: 3.0.1
info:
  title: HL7® FHIR® RelatedPerson resource API documentation
  description: "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\"\
  ) defines a set of \"Resources\" that represent granular clinical concepts. The resources\
  \ can be managed in isolation, or aggregated into complex documents. Technically, FHIR is\
  \ designed for the web; the resources are based on simple JSON structures, with an\
  \ http-based RESTful protocol where each resource has predictable URL. Where possible,\
  \ open internet standards are used for data representation. The FHIR® R4 API docs are part\
  \ of the FHIR® Specifications (v4.0.1: R4). The is the current published version. This\
  \ section contains API docs for the R4 resources required to meet the CMS and ONC\
  \ interoperability and data access requirements. API docs for other resources can be added\
  \ by API publishers on request. \n"
servers:
- url: https://org-env.apigee.net/v1/ghc/r4
tags:
- name: RelatedPerson
paths:
  /RelatedPerson:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: identifier
        in: query
        description: An Identifier of the RelatedPerson
        schema:
          type: string
      - name: gdaddresstype
        in: query
        description: SearchParameter for the freg type of gd-Addresses
        schema:
          type: string
      - name: address
        in: query
        description: A server defined search that may match any of the string fields
          in the Address, including line, city, district, state, country, postalCode,
          and/or text
        schema:
          type: string
      - name: birthdate
        in: query
        description: The Related Person's date of birth
        schema:
          type: string
          format: date
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: gender
        in: query
        description: Gender of the related person
        schema:
          type: string
      - name: addresscontenttype
        in: query
        description: SearchParameter for the content type of gd-Addresses
        schema:
          type: string
      - name: active
        in: query
        description: Indicates if the related person record is active
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: phonetic
        in: query
        description: A portion of name using some kind of phonetic matching algorithm
        schema:
          type: string
      - name: phone
        in: query
        description: A value in a phone contact
        schema:
          type: string
      - name: patient
        in: query
        description: The patient this related person is related to
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: name
        in: query
        description: A server defined search that may match any of the string fields
          in the HumanName, including family, give, prefix, suffix, suffix, and/or
          text
        schema:
          type: string
      - name: telecom
        in: query
        description: The value in any kind of contact
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: relationship
        in: query
        description: The relationship between the patient and the relatedperson
        schema:
          type: string
      - name: email
        in: query
        description: A value in an email contact
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelatedPerson'
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
    post:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/RelatedPerson'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
  /RelatedPerson/{id}:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/RelatedPerson'
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
    put:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/RelatedPerson'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
    delete:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
  /RelatedPerson/{id}/_history:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
  /RelatedPerson/_history:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
  /RelatedPerson/{id}/_history/{vid}:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: Authorization
        in: header
        description: 'Specify access token for API in the given format: Bearer [access_token].'
        schema:
          type: string
      - name: Accept
        in: header
        description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
        schema:
          type: string
          default: application/fhir+json;charset=utf-8
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/RelatedPerson'
      security:
        - OAuthV2B2B:
            - patient/RelatedPerson.read
            - patient/RelatedPerson.write
components:
  schemas:
    RelatedPerson:
      required:
      - address
      - gender
      - id
      - meta
      - name
      - patient
      - period
      - photo
      - relationship
      - resourceType
      - telecom
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        patient:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        relationship:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
        name:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - family
            - use
            type: object
            properties:
              use:
                minLength: 1
                type: string
              family:
                minLength: 1
                type: string
              given:
                type: array
                items:
                  type: object
                  properties: {}
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - use
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
              use:
                minLength: 1
                type: string
        gender:
          minLength: 1
          type: string
        address:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - city
            - postalCode
            - state
            - use
            type: object
            properties:
              use:
                minLength: 1
                type: string
              line:
                type: array
                items:
                  type: object
                  properties: {}
              city:
                minLength: 1
                type: string
              state:
                minLength: 1
                type: string
              postalCode:
                minLength: 1
                type: string
        photo:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - contentType
            - url
            type: object
            properties:
              contentType:
                minLength: 1
                type: string
              url:
                minLength: 1
                type: string
        period:
          required:
          - start
          type: object
          properties:
            start:
              minLength: 1
              type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ""
  securitySchemes:
    OAuthV2B2C:
      type: oauth2
      description: Security scheme for B2C flow using authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: 'https://org-env.apigee.net/oauth/v2/authorize'
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken'
          scopes:
            patient/RelatedPerson.read: Read permissions for RelatedPerson demographics.
            patient/RelatedPerson.write: Write permissions for RelatedPerson demographics.
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/RelatedPerson.read: Read permissions for RelatedPerson demographics.
            patient/RelatedPerson.write: Write permissions for RelatedPerson demographics.
