openapi: 3.0.1
info:
  title: HL7® FHIR® AllergyIntolerance resource API documentation
  description: |
    Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® STU3 API docs are part of the FHIR® Specifications (v3.0.2: STU 3). The current version which supercedes this version is 4.0.1 (R4) This section contains API docs for the few commonly used STU3 resources. API docs for other resources can be added by API publishers on request.
servers:
  - url: 'https://org-env.apigee.net/v1/ghc/stu3'
    description: "Google Cloud Healthcare FHIR APIs - STU3"
paths:
  /AllergyIntolerance:
    get:
      tags:
        - AllergyIntolerance
      description: 'Returns AllergyIntolerances based on filter criteria OR Provides provision for pagination (stateid, page, page_size, _pretty & _bundletype are query parameters used for Paging).<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerances Search
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
      responses:
        '200':
          description: AllergyIntolerance bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
    put:
      tags:
        - AllergyIntolerance
      description: 'The conditional update interaction is used to update an existing AllergyIntolerance based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/AllergyIntolerance'
        required: true
      responses:
        '200':
          description: AllergyIntolerance Updated.
          content: {}
        '201':
          description: AllergyIntolerance Created.
          content: {}
        '400':
          description: AllergyIntolerance could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
    post:
      tags:
        - AllergyIntolerance
      description: 'Create a new AllergyIntolerance with a server assigned id.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Create AllergyIntolerance
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/AllergyIntolerance'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: AllergyIntolerance could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: AllergyIntolerance not found.
          content: {}
        '422':
          description: The AllergyIntolerance resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
    delete:
      tags:
        - AllergyIntolerance
      description: 'The conditional delete interaction allows a client to delete AllergyIntolerance/AllergyIntolerances  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: AllergyIntolerance not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
  '/AllergyIntolerance/{id}':
    get:
      tags:
        - AllergyIntolerance
      description: 'Returns details of AllergyIntolerance having id given in path.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Read AllergyIntolerance
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: AllergyIntolerance Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
    put:
      tags:
        - AllergyIntolerance
      description: 'Update an existing AllergyIntolerance by its id (or create it if it is new).<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Update AllergyIntolerance
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/AllergyIntolerance'
        required: true
      responses:
        '200':
          description: AllergyIntolerance Updated.
          content: {}
        '201':
          description: AllergyIntolerance Created.
          content: {}
        '400':
          description: AllergyIntolerance could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
    delete:
      tags:
        - AllergyIntolerance
      description: 'The delete interaction removes an existing AllergyIntolerance.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Delete AllergyIntolerance
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: AllergyIntolerance not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
  '/AllergyIntolerance/{id}/_history':
    get:
      tags:
        - AllergyIntolerance
      description: 'It retrieves the history of a particular AllergyIntolerance identified by the given id in path.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance History
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: AllergyIntolerance bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  /AllergyIntolerance/_history:
    get:
      tags:
        - AllergyIntolerance
      description: 'It retrieves the history of all resources of AllergyIntolerance.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerances History
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        '200':
          description: AllergyIntolerance bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  '/AllergyIntolerance/{id}/_history/{vid}':
    get:
      tags:
        - AllergyIntolerance
      description: 'This interaction preforms a version specific read of AllergyIntolerance resource.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance Version Read
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: AllergyIntolerance Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  /AllergyIntolerance/$meta:
    get:
      tags:
        - AllergyIntolerance
      description: 'Retrieves a summary of the profiles, tags, and security labels for AllergyIntolerances.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerances Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for AllergyIntolerance'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  '/AllergyIntolerance/{id}/$meta':
    get:
      tags:
        - AllergyIntolerance
      description: 'Retrieves a summary of the profiles, tags, and security labels for given AllergyIntolerance resource.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  '/AllergyIntolerance/{id}/_history/{vid}/$meta':
    get:
      tags:
        - AllergyIntolerance
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the AllergyIntolerance.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerance Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security: 
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  '/AllergyIntolerance/{id}/{type}':
    get:
      tags:
        - AllergyIntolerance
      description: 'Search the specified resource type in AllergyIntolerance compartment.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular AllergyIntolerance
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  /AllergyIntolerance/_search:
    post:
      tags:
        - AllergyIntolerance
      description: 'This interaction searches a set of AllergyIntolerances based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: AllergyIntolerances Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                category:
                  type: string
                  description: food | medication | environment | other - Category of Substance
                criticality:
                  type: string
                  description: low | high | unable-to-assess
                date:
                  type: string
                  description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                identifier:
                  type: string
                  description: External ids for this item
                last-date:
                  type: string
                  description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                manifestation:
                  type: string
                  description: Clinical symptoms/signs associated with the Event
                onset:
                  type: string
                  description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                patient:
                  type: string
                  description: Who the sensitivity is for
                recorder:
                  type: string
                  description: Who recorded the sensitivity
                reporter:
                  type: string
                  description: Source of the information about the allergy
                route:
                  type: string
                  description: How the subject was exposed to the substance
                severity:
                  type: string
                  description: mild | moderate | severe (of event as a whole)
                status:
                  type: string
                  description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
                substance:
                  type: string
                  description: 'Substance, (or class) considered to be responsible for risk'
                type:
                  type: string
                  description: allergy | intolerance - Underlying mechanism (if known)
      responses:
        '200':
          description: AllergyIntolerance bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllergyIntolerance'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.read
  '/AllergyIntolerance/{id}/$meta-add':
    post:
      tags:
        - AllergyIntolerance
      description: 'Add a metadata info AllergyIntolerance with specified id.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Add AllergyIntolerance metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: AllergyIntolerance could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: AllergyIntolerance not found.
          content: {}
        '422':
          description: The AllergyIntolerance resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
  '/AllergyIntolerance/{id}/_history/{vid}/$meta-add':
    post:
      tags:
        - AllergyIntolerance
      description: 'Add metadata info to specified AllergyIntolerance resource.<p><a href = ''https://www.hl7.org/fhir/allergyintolerance.html''>FHIR documentation for AllergyIntolerance.</a></p>'
      operationId: Add AllergyIntolerance Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: AllergyIntolerance could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: AllergyIntolerance not found.
          content: {}
        '422':
          description: The AllergyIntolerance resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/AllergyIntolerance.write
components:
  schemas:
    AllergyIntolerance:
      required:
        - _category
        - _criticality
        - _lastOccurence
        - _onset
        - _recordedDate
        - _status
        - _type
        - category
        - criticality
        - id
        - identifier
        - lastOccurence
        - note
        - onset
        - patient
        - reaction
        - recordedDate
        - recorder
        - reporter
        - resourceType
        - status
        - substance
        - text
        - type
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
            - div
            - fhir_comments
            - status
          type: object
          properties:
            div:
              minLength: 1
              type: string
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
            status:
              minLength: 1
              type: string
        identifier:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - system
              - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        _status:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        type:
          minLength: 1
          type: string
        _type:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        category:
          minLength: 1
          type: string
        _category:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        criticality:
          minLength: 1
          type: string
        _criticality:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        substance:
          required:
            - coding
            - fhir_comments
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        patient:
          required:
            - fhir_comments
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        recordedDate:
          minLength: 1
          type: string
        _recordedDate:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        recorder:
          required:
            - fhir_comments
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        reporter:
          required:
            - fhir_comments
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        onset:
          minLength: 1
          type: string
        _onset:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        lastOccurence:
          minLength: 1
          type: string
        _lastOccurence:
          required:
            - fhir_comments
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                type: object
                properties: {}
        note:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - text
            type: object
            properties:
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              text:
                minLength: 1
                type: string
        reaction:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - certainty
              - description
              - onset
              - severity
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              manifestation:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      minItems: 1
                      uniqueItems: true
                      type: array
                      items:
                        required:
                          - code
                          - display
                          - system
                        type: object
                        properties:
                          system:
                            minLength: 1
                            type: string
                          code:
                            minLength: 1
                            type: string
                          display:
                            minLength: 1
                            type: string
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              substance:
                required:
                  - coding
                  - fhir_comments
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
                  fhir_comments:
                    type: array
                    items:
                      type: object
                      properties: {}
              certainty:
                minLength: 1
                type: string
              description:
                minLength: 1
                type: string
              onset:
                minLength: 1
                type: string
              exposureRoute:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
      description: ''
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/AllergyIntolerance.read: Read permissions for AllergyIntolerance demographics.
            patient/AllergyIntolerance.write: Write permissions for AllergyIntolerance demographics.
