openapi: 3.0.1
info:
  title: HL7® FHIR® Binary resource API documentation
  description: |
    Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® STU3 API docs are part of the FHIR® Specifications (v3.0.2: STU 3). The current version which supercedes this version is 4.0.1 (R4) This section contains API docs for the few commonly used STU3 resources. API docs for other resources can be added by API publishers on request.
servers:
  - url: 'https://org-env.apigee.net/v1/ghc/stu3'
    description: Google Cloud Healthcare FHIR APIs - STU3
paths:
  /Binary:
    get:
      tags:
        - Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
      responses:
        '200':
          description: Binary bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
    put:
      tags:
        - Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Binary'
          application/xml:
            schema:
              $ref: '#/components/schemas/Binary'
        required: true
      responses:
        '200':
          description: Binary bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
      x-codegen-request-body-name: Resource data
    post:
      tags:
        - Binary
      description: 'Create a new Binary with a server assigned id.<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Binary.</a></p>'
      operationId: Create Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Binary'
          application/xml:
            schema:
              $ref: '#/components/schemas/Binary'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: Binary could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: Binary not found.
          content: {}
        '422':
          description: The Binary resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.write
      x-codegen-request-body-name: Resource data
    delete:
      tags:
        - Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: category
          in: query
          description: food | medication | environment | other - Category of Substance
          schema:
            type: string
        - name: criticality
          in: query
          description: low | high | unable-to-assess
          schema:
            type: string
        - name: date
          in: query
          description: 'When recorded. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: External ids for this item
          schema:
            type: string
        - name: last-date
          in: query
          description: 'Date(/time) of last known occurrence of a reaction. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: manifestation
          in: query
          description: Clinical symptoms/signs associated with the Event
          schema:
            type: string
        - name: onset
          in: query
          description: 'Date(/time) when manifestations showed. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: patient
          in: query
          description: Who the sensitivity is for
          schema:
            type: string
        - name: recorder
          in: query
          description: Who recorded the sensitivity
          schema:
            type: string
        - name: reporter
          in: query
          description: Source of the information about the allergy
          schema:
            type: string
        - name: route
          in: query
          description: How the subject was exposed to the substance
          schema:
            type: string
        - name: severity
          in: query
          description: mild | moderate | severe (of event as a whole)
          schema:
            type: string
        - name: status
          in: query
          description: active | unconfirmed | confirmed | inactive | resolved | refuted | entered-in-error
          schema:
            type: string
        - name: substance
          in: query
          description: 'Substance, (or class) considered to be responsible for risk'
          schema:
            type: string
        - name: type
          in: query
          description: allergy | intolerance - Underlying mechanism (if known)
          schema:
            type: string
      responses:
        '200':
          description: Binary bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
  '/Binary/{id}':
    get:
      tags:
        - Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Binary Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
    put:
      tags:
        - Binary
      description: 'Update an existing Binary by its id (or create it if it is new).<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Composition.</a></p>'
      operationId: Update Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Binary'
          application/xml:
            schema:
              $ref: '#/components/schemas/Binary'
        required: true
      responses:
        '200':
          description: Binary Updated.
          content: {}
        '201':
          description: Binary Created.
          content: {}
        '400':
          description: Binary could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.write
      x-codegen-request-body-name: Resource data
    delete:
      tags:
        - Binary
      description: 'The delete interaction removes an existing Binary.<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Binary.</a></p>'
      operationId: Delete Binary
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: Composition not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.write
  '/Binary/{id}/_history':
    get:
      tags:
        - Binary
      description: 'It retrieves the history of a particular Binary identified by the given id in path.<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Binary.</a></p>'
      operationId: Binary History By ID
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Binary bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
  /Binary/_history:
    get:
      tags:
        - Binary
      description: 'It retrieves the history of all resources of Binary.<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Binary.</a></p>'
      operationId: Composition History
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        '200':
          description: Binary bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
  '/Binary/{id}/_history/{vid}':
    get:
      tags:
        - Binary
      description: 'This interaction preforms a version specific read of Binary resource.<p><a href = ''https://www.hl7.org/fhir/binary.html''>FHIR documentation for Binary.</a></p>'
      operationId: Binary Version Read
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: Binary Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Binary'
            application/xml+fhir;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Binary'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/Binary.read
components:
  schemas:
    Binary:
      required:
        - attester
        - author
        - class
        - confidentiality
        - custodian
        - date
        - encounter
        - event
        - id
        - identifier
        - resourceType
        - section
        - status
        - subject
        - text
        - title
        - type
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
            - div
            - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        identifier:
          required:
            - system
            - value
          type: object
          properties:
            system:
              minLength: 1
              type: string
            value:
              minLength: 1
              type: string
        date:
          minLength: 1
          type: string
        type:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        class:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        title:
          minLength: 1
          type: string
        status:
          minLength: 1
          type: string
        confidentiality:
          minLength: 1
          type: string
        subject:
          required:
            - display
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        author:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - display
              - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
              display:
                minLength: 1
                type: string
        attester:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - time
            type: object
            properties:
              mode:
                type: array
                items:
                  type: object
                  properties: {}
              time:
                minLength: 1
                type: string
              party:
                required:
                  - display
                  - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        custodian:
          required:
            - display
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        event:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              code:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  type: object
                  properties:
                    coding:
                      minItems: 1
                      uniqueItems: true
                      type: array
                      items:
                        required:
                          - code
                          - display
                          - system
                        type: object
                        properties:
                          system:
                            minLength: 1
                            type: string
                          code:
                            minLength: 1
                            type: string
                          display:
                            minLength: 1
                            type: string
              period:
                required:
                  - end
                  - start
                type: object
                properties:
                  start:
                    minLength: 1
                    type: string
                  end:
                    minLength: 1
                    type: string
              detail:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                    - reference
                  type: object
                  properties:
                    reference:
                      minLength: 1
                      type: string
        encounter:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        section:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - mode
              - title
            type: object
            properties:
              title:
                minLength: 1
                type: string
              code:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              text:
                required:
                  - div
                  - status
                type: object
                properties:
                  status:
                    minLength: 1
                    type: string
                  div:
                    minLength: 1
                    type: string
              mode:
                minLength: 1
                type: string
              orderedBy:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              entry:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                    - reference
                  type: object
                  properties:
                    reference:
                      minLength: 1
                      type: string
      description: ''
  securitySchemes: 
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Binary.read: Read permissions for Binary demographics.
            patient/Binary.write: Write permissions for Binary demographics.
