openapi: 3.0.1
info:
  title: HL7® FHIR® MedicationStatement resource API documentation
  description: |
    Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® STU3 API docs are part of the FHIR® Specifications (v3.0.2: STU 3). The current version which supercedes this version is 4.0.1 (R4) This section contains API docs for the few commonly used STU3 resources. API docs for other resources can be added by API publishers on request.
servers:
  - url: 'https://org-env.apigee.net/v1/ghc/stu3'
paths:
  /MedicationStatement:
    get:
      tags:
        - MedicationStatement
      description: 'Returns MedicationStatement based on filter criteria OR Provides provision for pagination (stateid, page, page_size, _pretty & _bundletype are query parameters used for Paging).<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Search
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: effective
          in: query
          description: 'Date when patient was taking (or not taking) the medication. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Return statements with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication reference
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list statements  for
          schema:
            type: string
        - name: source
          in: query
          description: Who the information in the statement came from
          schema:
            type: string
        - name: status
          in: query
          description: Return statements that match the given status
          schema:
            type: string
      responses:
        '200':
          description: MedicationStatement bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
    put:
      tags:
        - MedicationStatement
      description: 'The conditional update interaction is used to update an existing MedicationStatement based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Conditional Update
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: effective
          in: query
          description: 'Date when patient was taking (or not taking) the medication. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Return statements with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication reference
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list statements  for
          schema:
            type: string
        - name: source
          in: query
          description: Who the information in the statement came from
          schema:
            type: string
        - name: status
          in: query
          description: Return statements that match the given status
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationStatement'
        required: true
      responses:
        '200':
          description: MedicationStatement Updated.
          content: {}
        '201':
          description: MedicationStatement Created.
          content: {}
        '400':
          description: MedicationStatement could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
    post:
      tags:
        - MedicationStatement
      description: 'Create a new MedicationStatement with a server assigned id.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Create MedicationStatement
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationStatement'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationStatement could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationStatement not found.
          content: {}
        '422':
          description: The MedicationStatement resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
    delete:
      tags:
        - MedicationStatement
      description: 'The conditional delete interaction allows a client to delete MedicationStatement/MedicationStatement  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: effective
          in: query
          description: 'Date when patient was taking (or not taking) the medication. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Return statements with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication reference
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list statements  for
          schema:
            type: string
        - name: source
          in: query
          description: Who the information in the statement came from
          schema:
            type: string
        - name: status
          in: query
          description: Return statements that match the given status
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationStatement not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
  '/MedicationStatement/{id}':
    get:
      tags:
        - MedicationStatement
      description: 'Returns details of MedicationStatement having id given in path.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Read MedicationStatement
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationStatement Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
    put:
      tags:
        - MedicationStatement
      description: 'Update an existing MedicationStatement by its id (or create it if it is new).<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Update MedicationStatement
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationStatement'
        required: true
      responses:
        '200':
          description: MedicationStatement Updated.
          content: {}
        '201':
          description: MedicationStatement Created.
          content: {}
        '400':
          description: MedicationStatement could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
    delete:
      tags:
        - MedicationStatement
      description: 'The delete interaction removes an existing MedicationStatement.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Delete MedicationStatement
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationStatement not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
  '/MedicationStatement/{id}/_history':
    get:
      tags:
        - MedicationStatement
      description: 'It retrieves the history of a particular MedicationStatement identified by the given id in path.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement History
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationStatement bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  /MedicationStatement/_history:
    get:
      tags:
        - MedicationStatement
      description: 'It retrieves the history of all resources of MedicationStatement.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatementHistory
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        '200':
          description: MedicationStatement bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  '/MedicationStatement/{id}/_history/{vid}':
    get:
      tags:
        - MedicationStatement
      description: 'This interaction preforms a version specific read of MedicationStatement resource.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Version Read
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationStatement Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  /MedicationStatement/$meta:
    get:
      tags:
        - MedicationStatement
      description: 'Retrieves a summary of the profiles, tags, and security labels for MedicationStatement.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for MedicationStatement'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  '/MedicationStatement/{id}/$meta':
    get:
      tags:
        - MedicationStatement
      description: 'Retrieves a summary of the profiles, tags, and security labels for given MedicationStatement resource.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatementMetadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  '/MedicationStatement/{id}/_history/{vid}/$meta':
    get:
      tags:
        - MedicationStatement
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the MedicationStatement.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  '/MedicationStatement/{id}/{type}':
    get:
      tags:
        - MedicationStatement
      description: 'Search the specified resource type in MedicationStatement compartment.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular MedicationStatement
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.read
  /MedicationStatement/_search:
    post:
      tags:
        - MedicationStatement
      description: 'This interaction searches a set of MedicationStatement based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: MedicationStatement Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return administrations of this medication code
          schema:
            type: string
        - name: effective
          in: query
          description: 'Date when patient was taking (or not taking) the medication. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: identifier
          in: query
          description: Return statements with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return administrations of this medication reference
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list statements  for
          schema:
            type: string
        - name: source
          in: query
          description: Who the information in the statement came from
          schema:
            type: string
        - name: status
          in: query
          description: Return statements that match the given status
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                code:
                  type: string
                  description: Return administrations of this medication code
                effective:
                  type: string
                  description: 'Date when patient was taking (or not taking) the medication. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                identifier:
                  type: string
                  description: Return statements with this external identifier
                medication:
                  type: string
                  description: Return administrations of this medication reference
                patient:
                  type: string
                  description: The identity of a patient to list statements  for
                source:
                  type: string
                  description: Who the information in the statement came from
                status:
                  type: string
                  description: Return statements that match the given status
      responses:
        '200':
          description: MedicationStatement bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationStatement'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
  '/MedicationStatement/{id}/$meta-add':
    post:
      tags:
        - MedicationStatement
      description: 'Add a metadata info MedicationStatement with specified id.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Add MedicationStatement metadata
      parameters:
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationStatement could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationStatement not found.
          content: {}
        '422':
          description: The MedicationStatement resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
  '/MedicationStatement/{id}/_history/{vid}/$meta-add':
    post:
      tags:
        - MedicationStatement
      description: 'Add metadata info to specified MedicationStatement resource.<p><a href = ''https://www.hl7.org/fhir/medicationstatement.html''>FHIR documentation for MedicationStatement.</a></p>'
      operationId: Add MedicationStatement Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Specify access token for API in the given format: Bearer [access_token].'
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationStatement could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationStatement not found.
          content: {}
        '422':
          description: The MedicationStatement resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
          - patient/MedicationStatement.write
components:
  schemas:
    MedicationStatement:
      required:
        - dateAsserted
        - dosage
        - effectiveDateTime
        - id
        - informationSource
        - medicationReference
        - note
        - patient
        - reasonForUseCodeableConcept
        - resourceType
        - status
        - text
        - wasNotTaken
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
            - div
            - status
          type: object
          properties:
            div:
              minLength: 1
              type: string
            status:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        medicationReference:
          required:
            - _reference
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            _reference:
              required:
                - fhir_comments
              type: object
              properties:
                fhir_comments:
                  type: array
                  items:
                    type: object
                    properties: {}
        patient:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        effectiveDateTime:
          minLength: 1
          type: string
        informationSource:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        dateAsserted:
          minLength: 1
          type: string
        wasNotTaken:
          type: boolean
        reasonForUseCodeableConcept:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        note:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - text
            type: object
            properties:
              text:
                minLength: 1
                type: string
        dosage:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - asNeededBoolean
              - text
            type: object
            properties:
              route:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              timing:
                required:
                  - repeat
                type: object
                properties:
                  repeat:
                    required:
                      - frequency
                      - period
                      - periodUnit
                    type: object
                    properties:
                      period:
                        type: number
                      periodUnit:
                        minLength: 1
                        type: string
                      frequency:
                        type: number
              quantityQuantity:
                required:
                  - value
                type: object
                properties:
                  value:
                    type: number
              asNeededBoolean:
                type: boolean
              maxDosePerPeriod:
                required:
                  - denominator
                  - numerator
                type: object
                properties:
                  numerator:
                    required:
                      - code
                      - system
                      - unit
                      - value
                    type: object
                    properties:
                      unit:
                        minLength: 1
                        type: string
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      value:
                        type: number
                  denominator:
                    required:
                      - code
                      - system
                      - value
                    type: object
                    properties:
                      system:
                        minLength: 1
                        type: string
                      code:
                        minLength: 1
                        type: string
                      value:
                        type: number
              text:
                minLength: 1
                type: string
      description: ''
    metaBody:
      type: string
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/MedicationStatement.read: Read permissions for MedicationStatement demographics.
            patient/MedicationStatement.write: Write permissions for MedicationStatement demographics.