openapi: 3.0.1
info:
  title: HL7® FHIR® MedicationDispense resource API documentation
  description: |
    Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® STU3 API docs are part of the FHIR® Specifications (v3.0.2: STU 3). The current version which supercedes this version is 4.0.1 (R4) This section contains API docs for the few commonly used STU3 resources. API docs for other resources can be added by API publishers on request.
servers:
  - url: 'https://org-env.apigee.net/v1/ghc/stu3'
    description: "Google Cloud Healthcare FHIR APIs - STU3"
paths:
  /MedicationDispense:
    get:
      tags:
        - MedicationDispense
      description: 'Returns MedicationDispenses based on filter criteria OR Provides provision for pagination (stateid, page, page_size, _pretty & _bundletype are query parameters used for Paging).<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispenses Search
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return dispenses of this medicine code
          schema:
            type: string
        - name: destination
          in: query
          description: Return dispenses that should be sent to a specific destination
          schema:
            type: string
        - name: dispenser
          in: query
          description: Return all dispenses performed by a specific individual
          schema:
            type: string
        - name: identifier
          in: query
          description: Return dispenses with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return dispenses of this medicine resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list dispenses  for
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list dispenses from
          schema:
            type: string
        - name: receiver
          in: query
          description: Who collected the medication
          schema:
            type: string
        - name: responsibleparty
          in: query
          description: Return all dispenses with the specified responsible party
          schema:
            type: string
        - name: status
          in: query
          description: Status of the dispense
          schema:
            type: string
        - name: type
          in: query
          description: Return all dispenses of a specific type
          schema:
            type: string
        - name: whenhandedover
          in: query
          description: 'Date when medication handed over to patient (outpatient setting), or supplied to ward or clinic (inpatient setting). The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: whenprepared
          in: query
          description: 'Date when medication prepared. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: MedicationDispense bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
    put:
      tags:
        - MedicationDispense
      description: 'The conditional update interaction is used to update an existing MedicationDispense based on some identification criteria, rather than by logical id.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense Conditional Update
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return dispenses of this medicine code
          schema:
            type: string
        - name: destination
          in: query
          description: Return dispenses that should be sent to a specific destination
          schema:
            type: string
        - name: dispenser
          in: query
          description: Return all dispenses performed by a specific individual
          schema:
            type: string
        - name: identifier
          in: query
          description: Return dispenses with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return dispenses of this medicine resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list dispenses  for
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list dispenses from
          schema:
            type: string
        - name: receiver
          in: query
          description: Who collected the medication
          schema:
            type: string
        - name: responsibleparty
          in: query
          description: Return all dispenses with the specified responsible party
          schema:
            type: string
        - name: status
          in: query
          description: Status of the dispense
          schema:
            type: string
        - name: type
          in: query
          description: Return all dispenses of a specific type
          schema:
            type: string
        - name: whenhandedover
          in: query
          description: 'Date when medication handed over to patient (outpatient setting), or supplied to ward or clinic (inpatient setting). The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: whenprepared
          in: query
          description: 'Date when medication prepared. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationDispense'
        required: true
      responses:
        '200':
          description: MedicationDispense Updated.
          content: {}
        '201':
          description: MedicationDispense Created.
          content: {}
        '400':
          description: MedicationDispense could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
    post:
      tags:
        - MedicationDispense
      description: 'Create a new MedicationDispense with a server assigned id.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Create MedicationDispense
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: If-None-Exist
          in: header
          description: Specify the search query for conditional create.
          schema:
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationDispense'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationDispense could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationDispense not found.
          content: {}
        '422':
          description: The MedicationDispense resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
    delete:
      tags:
        - MedicationDispense
      description: 'The conditional delete interaction allows a client to delete MedicationDispense/MedicationDispenses  based on some selection criteria, rather than by a specific logical id.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense Conditional Delete
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return dispenses of this medicine code
          schema:
            type: string
        - name: destination
          in: query
          description: Return dispenses that should be sent to a specific destination
          schema:
            type: string
        - name: dispenser
          in: query
          description: Return all dispenses performed by a specific individual
          schema:
            type: string
        - name: identifier
          in: query
          description: Return dispenses with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return dispenses of this medicine resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list dispenses  for
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list dispenses from
          schema:
            type: string
        - name: receiver
          in: query
          description: Who collected the medication
          schema:
            type: string
        - name: responsibleparty
          in: query
          description: Return all dispenses with the specified responsible party
          schema:
            type: string
        - name: status
          in: query
          description: Status of the dispense
          schema:
            type: string
        - name: type
          in: query
          description: Return all dispenses of a specific type
          schema:
            type: string
        - name: whenhandedover
          in: query
          description: 'Date when medication handed over to patient (outpatient setting), or supplied to ward or clinic (inpatient setting). The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: whenprepared
          in: query
          description: 'Date when medication prepared. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationDispense not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
  '/MedicationDispense/{id}':
    get:
      tags:
        - MedicationDispense
      description: 'Returns details of MedicationDispense having id given in path.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Read MedicationDispense
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationDispense Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
    put:
      tags:
        - MedicationDispense
      description: 'Update an existing MedicationDispense by its id (or create it if it is new).<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Update MedicationDispense
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid data payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MedicationDispense'
        required: true
      responses:
        '200':
          description: MedicationDispense Updated.
          content: {}
        '201':
          description: MedicationDispense Created.
          content: {}
        '400':
          description: MedicationDispense could not be parsed or failed basic FHIR validation rules (or multiple matches were found).
          content: {}
        '403':
          description: Not Authorized.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
    delete:
      tags:
        - MedicationDispense
      description: 'The delete interaction removes an existing MedicationDispense.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Delete MedicationDispense
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: No Content.
          content: {}
        '204':
          description: No Content.
          content: {}
        '404':
          description: MedicationDispense not found.
          content: {}
        '405':
          description: Method not allowed.
          content: {}
        '409':
          description: Conflict Error.
          content: {}
        '412':
          description: The given criteria is not selective enough.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
  '/MedicationDispense/{id}/_history':
    get:
      tags:
        - MedicationDispense
      description: 'It retrieves the history of a particular MedicationDispense identified by the given id in path.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense History
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationDispense bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  /MedicationDispense/_history:
    get:
      tags:
        - MedicationDispense
      description: 'It retrieves the history of all resources of MedicationDispense.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispenses History
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
      responses:
        '200':
          description: MedicationDispense bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  '/MedicationDispense/{id}/_history/{vid}':
    get:
      tags:
        - MedicationDispense
      description: 'This interaction preforms a version specific read of MedicationDispense resource.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense Version Read
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: _count
          in: query
          description: Number of records needed in response.
          schema:
            type: integer
        - name: _since
          in: query
          description: Specify an instant to only include resource versions that were created at or after the given instant in time. An instant in time is known at least to the second and always includes a time zone.
          schema:
            pattern: '([1-9][0-9]{3}|0[0-9]{3})(-(0[1-9]|1[0-2])(-(0[1-9]|[12][0-9]|3[01])(T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?'
            type: string
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: MedicationDispense Instance
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  /MedicationDispense/$meta:
    get:
      tags:
        - MedicationDispense
      description: 'Retrieves a summary of the profiles, tags, and security labels for MedicationDispenses.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispenses Metadata
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        '200':
          description: 'List of all tags, profiles and security labels used for MedicationDispense'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  '/MedicationDispense/{id}/$meta':
    get:
      tags:
        - MedicationDispense
      description: 'Retrieves a summary of the profiles, tags, and security labels for given MedicationDispense resource.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense Metadata
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  '/MedicationDispense/{id}/_history/{vid}/$meta':
    get:
      tags:
        - MedicationDispense
      description: 'Retrieves a summary of the profiles, tags, and security labels for given version of the MedicationDispense.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispense Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: 'List of all tags, profiles and security labels affixed to the nominated version of the resource.'
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  '/MedicationDispense/{id}/{type}':
    get:
      tags:
        - MedicationDispense
      description: 'Search the specified resource type in MedicationDispense compartment.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: ' Compartment Search'
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: _format
          in: query
          description: Format of data to be returned.
          schema:
            type: string
            x-consoleDefault: application/fhir+json;charset=utf-8
          x-consoleDefault: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      responses:
        '200':
          description: The set of resources associated with a particular MedicationDispense
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  /MedicationDispense/_search:
    post:
      tags:
        - MedicationDispense
      description: 'This interaction searches a set of MedicationDispenses based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: MedicationDispenses Search using POST
      parameters:
        - name: _content
          in: query
          description: Search the contents of the resource's data using a fulltext search
          schema:
            type: string
        - name: _id
          in: query
          description: The resource identity
          schema:
            type: string
        - name: _language
          in: query
          description: The resource language
          schema:
            type: string
        - name: _lastUpdated
          in: query
          description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: _profile
          in: query
          description: Search for resources which have the given profile
          schema:
            type: string
        - name: _security
          in: query
          description: Search for resources which have the given security labels
          schema:
            type: string
        - name: _tag
          in: query
          description: Search for resources which have the given tag
          schema:
            type: string
        - name: _text
          in: query
          description: Search the contents of the resource's narrative using a fulltext search
          schema:
            type: string
        - name: code
          in: query
          description: Return dispenses of this medicine code
          schema:
            type: string
        - name: destination
          in: query
          description: Return dispenses that should be sent to a specific destination
          schema:
            type: string
        - name: dispenser
          in: query
          description: Return all dispenses performed by a specific individual
          schema:
            type: string
        - name: identifier
          in: query
          description: Return dispenses with this external identifier
          schema:
            type: string
        - name: medication
          in: query
          description: Return dispenses of this medicine resource
          schema:
            type: string
        - name: patient
          in: query
          description: The identity of a patient to list dispenses  for
          schema:
            type: string
        - name: prescription
          in: query
          description: The identity of a prescription to list dispenses from
          schema:
            type: string
        - name: receiver
          in: query
          description: Who collected the medication
          schema:
            type: string
        - name: responsibleparty
          in: query
          description: Return all dispenses with the specified responsible party
          schema:
            type: string
        - name: status
          in: query
          description: Status of the dispense
          schema:
            type: string
        - name: type
          in: query
          description: Return all dispenses of a specific type
          schema:
            type: string
        - name: whenhandedover
          in: query
          description: 'Date when medication handed over to patient (outpatient setting), or supplied to ward or clinic (inpatient setting). The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: whenprepared
          in: query
          description: 'Date when medication prepared. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
          schema:
            type: string
            format: date
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                _content:
                  type: string
                  description: Search the contents of the resource's data using a fulltext search
                _id:
                  type: string
                  description: The resource identity
                _language:
                  type: string
                  description: The resource language
                _lastUpdated:
                  type: string
                  description: 'Only return resources which were last updated as specified by the given range. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                _profile:
                  type: string
                  description: Search for resources which have the given profile
                _security:
                  type: string
                  description: Search for resources which have the given security labels
                _tag:
                  type: string
                  description: Search for resources which have the given tag
                _text:
                  type: string
                  description: Search the contents of the resource's narrative using a fulltext search
                code:
                  type: string
                  description: Return dispenses of this medicine code
                destination:
                  type: string
                  description: Return dispenses that should be sent to a specific destination
                dispenser:
                  type: string
                  description: Return all dispenses performed by a specific individual
                identifier:
                  type: string
                  description: Return dispenses with this external identifier
                medication:
                  type: string
                  description: Return dispenses of this medicine resource
                patient:
                  type: string
                  description: The identity of a patient to list dispenses  for
                prescription:
                  type: string
                  description: The identity of a prescription to list dispenses from
                receiver:
                  type: string
                  description: Who collected the medication
                responsibleparty:
                  type: string
                  description: Return all dispenses with the specified responsible party
                status:
                  type: string
                  description: Status of the dispense
                type:
                  type: string
                  description: Return all dispenses of a specific type
                whenhandedover:
                  type: string
                  description: 'Date when medication handed over to patient (outpatient setting), or supplied to ward or clinic (inpatient setting). The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
                whenprepared:
                  type: string
                  description: 'Date when medication prepared. The date parameter format is yyyy-mm-ddThh:nn:ss(TZ). The prefixes >, >=, <= and < may be used on the parameter value.'
                  format: date
      responses:
        '200':
          description: MedicationDispense bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.read
  '/MedicationDispense/{id}/$meta-add':
    post:
      tags:
        - MedicationDispense
      description: 'Add a metadata info MedicationDispense with specified id.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Add MedicationDispense metadata
      parameters:
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationDispense could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationDispense not found.
          content: {}
        '422':
          description: The MedicationDispense resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
  '/MedicationDispense/{id}/_history/{vid}/$meta-add':
    post:
      tags:
        - MedicationDispense
      description: 'Add metadata info to specified MedicationDispense resource.<p><a href = ''https://www.hl7.org/fhir/medicationdispense.html''>FHIR documentation for MedicationDispense.</a></p>'
      operationId: Add MedicationDispense Version based Metadata
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request-header field can be used to specify certain media types which are acceptable for the response.
          schema:
            type: string
            default: application/fhir+json;charset=utf-8
        - name: id
          in: path
          description: The logical resource id associated with the Resource.
          required: true
          schema:
            pattern: '[a-z0-9\-\.]{1,64}'
            type: string
      requestBody:
        description: The request body should be a valid meta payload.
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/metaBody'
        required: true
      responses:
        '201':
          description: Successful creation
          content: {}
        '400':
          description: MedicationDispense could not be parsed or failed basic FHIR validation rules
          content: {}
        '404':
          description: MedicationDispense not found.
          content: {}
        '422':
          description: The MedicationDispense resource violated applicable FHIR profiles or server business rules.
          content: {}
        default:
          description: unexpected error
          content: {}
      security:
        - OAuthV2B2B:
            - patient/MedicationDispense.write
components:
  schemas:
    MedicationDispense:
      required:
        - authorizingPrescription
        - daysSupply
        - dispenser
        - dosageInstruction
        - id
        - medicationReference
        - patient
        - quantity
        - resourceType
        - status
        - text
        - type
        - whenHandedOver
        - whenPrepared
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
            - div
            - status
          type: object
          properties:
            div:
              minLength: 1
              type: string
            status:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        medicationReference:
          required:
            - _reference
            - display
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            _reference:
              required:
                - fhir_comments
              type: object
              properties:
                fhir_comments:
                  type: array
                  items:
                    type: object
                    properties: {}
            display:
              minLength: 1
              type: string
        patient:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        dispenser:
          required:
            - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        authorizingPrescription:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        type:
          required:
            - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                  - code
                  - display
                  - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        quantity:
          required:
            - code
            - system
            - unit
            - value
          type: object
          properties:
            unit:
              minLength: 1
              type: string
            system:
              minLength: 1
              type: string
            code:
              minLength: 1
              type: string
            value:
              type: number
        daysSupply:
          required:
            - code
            - system
            - unit
            - value
          type: object
          properties:
            unit:
              minLength: 1
              type: string
            system:
              minLength: 1
              type: string
            code:
              minLength: 1
              type: string
            value:
              type: number
        whenPrepared:
          minLength: 1
          type: string
        whenHandedOver:
          minLength: 1
          type: string
        dosageInstruction:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              route:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              timing:
                required:
                  - repeat
                type: object
                properties:
                  repeat:
                    required:
                      - frequency
                      - period
                      - periodUnit
                    type: object
                    properties:
                      period:
                        type: number
                      periodUnit:
                        minLength: 1
                        type: string
                      frequency:
                        type: number
              doseQuantity:
                required:
                  - code
                  - system
                  - unit
                  - value
                type: object
                properties:
                  unit:
                    minLength: 1
                    type: string
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  value:
                    type: number
              siteCodeableConcept:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
              additionalInstructions:
                required:
                  - coding
                type: object
                properties:
                  coding:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - code
                        - display
                        - system
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        code:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
      description: ''
    metaBody:
      type: string
  securitySchemes: 
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/MedicationDispense.read: Read permissions for MedicationDispense demographics.
            patient/MedicationDispense.write: Write permissions for MedicationDispense demographics.
