openapi: 3.0.1
info:
  title: HL7® FHIR® Organization resource API documentation
  description: |
    Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® STU3 API docs are part of the FHIR® Specifications (v3.0.2: STU 3). The current version which supercedes this version is 4.0.1 (R4) This section contains API docs for the few commonly used STU3 resources. API docs for other resources can be added by API publishers on request.
servers:
- url: https://org-env.apigee.net/v1/ghc/stu3
tags:
- name: Organization
paths:
  /Organization:
    get:
      tags:
      - Organization
      parameters:
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's
          identifier)
        schema:
          type: string
      - name: partof
        in: query
        description: An organization of which this organization forms a part
        schema:
          type: string
      - name: address
        in: query
        description: A (part of the) address of the organization
        schema:
          type: string
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: active
        in: query
        description: A server defined search that may match any of the string fields
          in the Address, including line, city, state, country, postalCode, and/or
          text
        schema:
          type: string
      - name: type
        in: query
        description: A code for the type of organization
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          the organization
        schema:
          type: string
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: name
        in: query
        description: A portion of the organization's name or alias
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
      security:
        - OAuthV2B2B:
          - patient/Organization.read
    post:
      tags:
      - Organization
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Organization'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
          - patient/Organization.write
  /Organization/{id}:
    get:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Organization'
      security:
        - OAuthV2B2B:
          - patient/Organization.read
    put:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          'application/fhir+json;charset=utf-8':
            schema:
              $ref: '#/components/schemas/Organization'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
          - patient/Organization.write
    delete:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - patient/Organization.write
  /Organization/{id}/_history:
    get:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - patient/Organization.read
  /Organization/_history:
    get:
      tags:
      - Organization
      parameters:
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - patient/Organization.read
  /Organization/{id}/_history/{vid}:
    get:
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            'application/fhir+json;charset=utf-8':
              schema:
                $ref: '#/components/schemas/Organization'
      security:
        - OAuthV2B2B:
          - patient/Organization.read
components:
  schemas:
    Organization:
      required:
      - address
      - extension
      - id
      - name
      - resourceType
      - telecom
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        extension:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - url
            - valueString
            type: object
            properties:
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              url:
                minLength: 1
                type: string
              valueString:
                minLength: 1
                type: string
        name:
          minLength: 1
          type: string
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        address:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - city
            - country
            - postalCode
            - state
            type: object
            properties:
              line:
                type: array
                items:
                  type: object
                  properties: {}
              city:
                minLength: 1
                type: string
              state:
                minLength: 1
                type: string
              postalCode:
                minLength: 1
                type: string
              country:
                minLength: 1
                type: string
      description: ""
  securitySchemes: 
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            patient/Organization.read: Read permissions for Organization demographics.
            patient/Organization.write: Write permissions for Organization demographics.
