openapi: 3.0.1
info:
  title: HL7® FHIR® Provenance resource API documentation
  description: |
    "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\") defines a set of \"Resources\" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® DSTU2 API docs are part of the FHIR® Specifications (v1.0.2: DSTU 2). The current version which supercedes this version is 4.0.1 (R4). This section contains API docs for the few commonly used DSTU2 resources. API docs for other resources can be added by API publishers on request.",
servers:
- url: https://org-env.apigee.net/v1/ghc/dstu2
tags:
- name: Provenance
paths:
  /Provenance:
    get:
      tags:
      - Provenance
      parameters:
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        schema:
          type: string
          format: date
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        schema:
          type: string
      - name: agent
        in: query
        schema:
          type: string
      - name: end
        in: query
        schema:
          type: string
          format: date
      - name: entity
        in: query
        schema:
          type: string
      - name: entitytype
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: sigtype
        in: query
        schema:
          type: string
      - name: start
        in: query
        schema:
          type: string
          format: date
      - name: target
        in: query
        schema:
          type: string
      - name: userid
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provenance'
      security:
        - OAuthV2B2B:
          - user/Provenance.read
    post:
      tags:
      - Provenance
      requestBody:
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Provenance'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
          - user/Provenance.write
  /Provenance/{id}:
    get:
      tags:
      - Provenance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Provenance'
      security:
        - OAuthV2B2B:
          - user/Provenance.read
    put:
      tags:
      - Provenance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Provenance'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
          - user/Provenance.write
    delete:
      tags:
      - Provenance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - user/Provenance.write
  /Provenance/{id}/_history:
    get:
      tags:
      - Provenance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - user/Provenance.read
  /Provenance/_history:
    get:
      tags:
      - Provenance
      parameters:
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
          - user/Provenance.read
  /Provenance/{id}/_history/{vid}:
    get:
      tags:
      - Provenance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Provenance'
      security:
        - OAuthV2B2B:
          - user/Provenance.read
components:
  schemas:
    Provenance:
      required:
      - agent
      - entity
      - id
      - location
      - period
      - policy
      - reason
      - recorded
      - resourceType
      - target
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        target:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              reference:
                minLength: 1
                type: string
        period:
          required:
          - start
          type: object
          properties:
            start:
              minLength: 1
              type: string
        recorded:
          minLength: 1
          type: string
        reason:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - text
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
              text:
                minLength: 1
                type: string
        location:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        policy:
          type: array
          items:
            type: object
            properties: {}
        agent:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              role:
                required:
                - code
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
              actor:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
              userId:
                required:
                - fhir_comments
                - system
                - value
                type: object
                properties:
                  fhir_comments:
                    type: array
                    items:
                      type: object
                      properties: {}
                  system:
                    minLength: 1
                    type: string
                  value:
                    minLength: 1
                    type: string
              relatedAgent:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - target
                  type: object
                  properties:
                    type:
                      required:
                      - text
                      type: object
                      properties:
                        text:
                          minLength: 1
                          type: string
                    target:
                      minLength: 1
                      type: string
        entity:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - display
            - reference
            - role
            type: object
            properties:
              fhir_comments:
                type: array
                items:
                  type: object
                  properties: {}
              role:
                minLength: 1
                type: string
              type:
                required:
                - code
                - display
                - fhir_comments
                - system
                type: object
                properties:
                  fhir_comments:
                    type: array
                    items:
                      type: object
                      properties: {}
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
              reference:
                minLength: 1
                type: string
              _reference:
                required:
                - fhir_comments
                type: object
                properties:
                  fhir_comments:
                    type: array
                    items:
                      type: object
                      properties: {}
              display:
                minLength: 1
                type: string
      description: ""
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            user/Provenance.read: Read permissions for Provenance demographics.
            user/Provenance.write: Write permissions for Provenance demographics.
