openapi: 3.0.1
info:
  title: HL7® FHIR® RelatedPerson resource API documentation
  description: |
    "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\") defines a set of \"Resources\" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR® is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. The FHIR® DSTU2 API docs are part of the FHIR® Specifications (v1.0.2: DSTU 2). The current version which supercedes this version is 4.0.1 (R4). This section contains API docs for the few commonly used DSTU2 resources. API docs for other resources can be added by API publishers on request.",
servers:
- url: https://org-env.apigee.net/v1/ghc/dstu2
tags:
- name: RelatedPerson
paths:
  /RelatedPerson:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        schema:
          type: string
      - name: _id
        in: query
        description: The ID of the resource
        schema:
          type: string
      - name: _language
        in: query
        description: The language of the resource
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        schema:
          type: string
          format: date
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        schema:
          type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        schema:
          type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        schema:
          type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        schema:
          type: string
      - name: address
        in: query
        description: An address in any kind of address/part
        schema:
          type: string
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
      - name: address-country
        in: query
        description: A country specified in an address
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        schema:
          type: string
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        schema:
          type: string
      - name: birthdate
        in: query
        description: The Related Person's date of birth
        schema:
          type: string
          format: date
      - name: email
        in: query
        description: A value in an email contact
        schema:
          type: string
      - name: gender
        in: query
        description: Gender of the person
        schema:
          type: string
      - name: identifier
        in: query
        description: A patient Identifier
        schema:
          type: string
      - name: name
        in: query
        description: A portion of name in any name part
        schema:
          type: string
      - name: patient
        in: query
        description: The patient this person is related to
        schema:
          type: string
      - name: phone
        in: query
        description: A value in a phone contact
        schema:
          type: string
      - name: phonetic
        in: query
        description: A portion of name using some kind of phonetic matching algorithm
        schema:
          type: string
      - name: telecom
        in: query
        description: The value in any kind of contact
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/fhir+json;charset=utf-8
        x-consoleDefault: application/fhir+json;charset=utf-8
      responses:
        200:
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelatedPerson'
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.read
    post:
      tags:
      - RelatedPerson
      requestBody:
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/RelatedPerson'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.write
  /RelatedPerson/{id}:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/RelatedPerson'
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.read
    put:
      tags:
      - RelatedPerson
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/fhir+json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/RelatedPerson'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.write
    delete:
      tags:
      - RelatedPerson
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.write
  /RelatedPerson/{id}/_history:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.read
  /RelatedPerson/_history:
    get:
      tags:
      - RelatedPerson
      parameters:
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
      security:
        - OAuthV2B2B:
            - user/RelatedPerson.read
components:
  schemas:
    RelatedPerson:
      required:
      - address
      - gender
      - id
      - name
      - patient
      - period
      - photo
      - relationship
      - resourceType
      - telecom
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        patient:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        relationship:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
        name:
          required:
          - family
          - given
          - use
          type: object
          properties:
            use:
              minLength: 1
              type: string
            family:
              type: array
              items:
                type: object
                properties: {}
            given:
              type: array
              items:
                type: object
                properties: {}
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - use
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
              use:
                minLength: 1
                type: string
        gender:
          minLength: 1
          type: string
        address:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - city
            - postalCode
            - state
            - use
            type: object
            properties:
              use:
                minLength: 1
                type: string
              line:
                type: array
                items:
                  type: object
                  properties: {}
              city:
                minLength: 1
                type: string
              state:
                minLength: 1
                type: string
              postalCode:
                minLength: 1
                type: string
        photo:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - contentType
            - url
            type: object
            properties:
              contentType:
                minLength: 1
                type: string
              url:
                minLength: 1
                type: string
        period:
          required:
          - start
          type: object
          properties:
            start:
              minLength: 1
              type: string
      description: ""
  securitySchemes:
    OAuthV2B2B:
      type: oauth2
      description: Security scheme for B2B flow using authorization code flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://org-env.apigee.net/oauth/v2/accesstoken?grant_type=client_credentials'
          scopes:
            user/RelatedPerson.read: Read permissions for RelatedPerson demographics.
            user/RelatedPerson.write: Write permissions for RelatedPerson demographics.
