# Username of the database
DB_USERNAME=db_username

# This is the name of the database that you want to take the backup
DB_NAME=database_name_to_be_backedup

# This is the bucket name that where you want to backup the files and the directory
BUCKET=bucket url ex: gs://ghc-test-backup/

# This is the path to the files directory. The files directory is the public files directory where the files are stored.
# ideally the files directory resides in under web/sites/default/files inside the project root path

BACKUP_DIR=/var/www/drupal/ghc-hosting/portal/web/sites/default/files
